.animate-on-scroll{
	transition: opacity .2s ease-out, transform .2s ease-out;
	
		&.hidden{
			opacity: 0;
			
			&.fadeInUp{
				transform: translateY(40px);
			}
			&.fadeInLeft{
				transform: translateX(40px);
			}
			&.fadeInRight{
				transform: translateX(-40px);
			}
			&.fadeInDown{
				transform: translateX(-40px);
			}
		}
}