.text-banner {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 0;
	padding: 80px 0;
	text-align: center;
	overflow: hidden;
	@include min(sm) {
		padding: 60px 0;
		text-align: left;
	}

	&-min {
		@include min(md) {
			min-height: 600px;
		}
	}
	&-background {
		@include p_absolute_cover;
		pointer-events: none;
		z-index: -1;

		&:before {
			content: '';
			pointer-events: none;
			background: linear-gradient(
				180deg,
				rgba(30, 34, 41, 0) 7.89%,
				rgba(8, 9, 11, 0.514484) 53.94%,
				rgba(6, 6, 8, 0.568383) 63.54%,
				rgba(4, 4, 5, 0.616146) 69.78%,
				rgba(0, 0, 0, 0.7) 100%
			);
			@include p_absolute_cover;
		}

		&--blue {
			&:before {
				background: linear-gradient(
					180deg,
					rgba(16, 117, 187, 0.22) 8.63%,
					rgba(13, 80, 152, 0.68) 70.83%,
					#1075bb 100%
				);
			}
		}

		&.__no_gradient {
			&:before {
				content: none;
			}
		}

		img {
			@include object_fit_cover;
		}
	}

	&-entry {
		width: 100%;
		color: $color-white;
		position: relative;
		z-index: 1;
		button {
			width: 100%;
		}
		h1,
		h4 {
			text-transform: uppercase;
		}

		// h4 {
		// 	font-size: 14px;

		// 	@include min(sm) {
		// 		font-size: 20px;
		// 	}
		// }

		h1 {
			// font-size: 26px;
			// letter-spacing: 0.7px;
			// line-height: 1.35;
			margin: 30px 0 16px;

			// @include min(sm) {
			// 	font-size: 50px;
			// }
		}

		p {
			font-size: 18px;
			font-weight: 500;
			margin: 13px 0;
			line-height: 1.5;

			@include min(sm) {
				font-size: 24px;
			}
		}

		ul {
			font-size: 18px;
			font-weight: 600;
			margin: 25px 0;

			@include min(sm) {
				font-size: 24px;
			}

			li {
				margin: 7px 0px;
				font-weight: 500;
				padding-left: 0;

				@include min(sm) {
					padding-left: 33px;
					position: relative;
				}

				&:before {
					content: url('../img/checkmark.svg');
					height: 20px;
					width: 20px;
					margin-right: 10px;
					background-color: transparent;
					position: static;

					@include min(sm) {
						left: 8px;
						top: -2px;
						position: absolute;
					}
				}
			}
		}

		&--limiter {
			max-width: 500px;
			margin: 0 auto;

			@include min(sm) {
				margin: 0;
				max-width: 660px;
			}
		}

		&--limiter-lg {
			@include min(sm) {
				max-width: 920px;
			}
		}

		&--limiter-md {
			@include min(sm) {
				max-width: 800px;
			}
		}

		&--limiter-sm {
			@include min(sm) {
				max-width: 500px;
			}
		}

		&--body {
			margin-bottom: 50px;
		}
	}
	&-hero {
		h1 {
			font-size: 16px;
			letter-spacing: 1.3px;

			@include min(sm) {
				font-size: 20px;
			}
		}

		h2 {
			letter-spacing: 0.7px;
			margin: 30px 0 16px;
		}
	}
	&-full {
		h2 {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.7px;
			margin: 20px 0;
		}
		p {
			margin: 10px 0;
			&:last-of-type {
				margin-bottom: 50px;
			}
		}
	}
}

.banner-buttons {
	@include min(sm) {
		display: flex;
		width: 100%;
	}

	> a {
		width: 100%;
		text-align: center;
		margin: 10px 0;

		@include min(sm) {
			margin: 0 10px;
			@include first_last_list_marign();
		}
	}
}

.banner-switcher {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid $color-white;
	text-align: center;
	padding: 29px 0 14px 0;

	&-button {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: 15px;
		@include clear-btn;

		&.active {
			font-weight: bold;
			color: $color-light-blue;
		}
	}
}
.section-button {
	text-align: center;
	padding: 0;
	margin: 0;
	&.offset-lg {
		padding: 120px 0;
	}
	&.offset-md {
		padding: 80px 0;
	}
	&.offset-sm {
		padding: 40px 0;
	}
	@include min(md) {
		margin: 0;
	}
}
.video-banner-background {
	@include p_absolute_cover;
	pointer-events: none;
	z-index: -1;

	&:before {
		content: '';
		pointer-events: none;
		background: linear-gradient(
			180deg,
			rgba(30, 34, 41, 0) 7.89%,
			rgba(8, 9, 11, 0.514484) 53.94%,
			rgba(6, 6, 8, 0.568383) 63.54%,
			rgba(4, 4, 5, 0.616146) 69.78%,
			rgba(0, 0, 0, 0.7) 100%
		);
		@include p_absolute_cover;
	}
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.text-banner_spaces {
	padding-bottom: 280px;
	@include min(sm) {
		padding-top: 100px;
		padding-bottom: 180px;
	}
	@include min(lg) {
		padding-top: 140px;
		padding-bottom: 240px;
	}
}
