.text-banner {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 0;
	padding: 12rem 0 8rem;
	overflow: hidden;
	min-height: 40rem;
	.container{
		.breadcrumb {
			position: absolute;
			left: 2.4rem;
			padding-right: 2rem;
			right: 0;
			width: calc(100% - 2.4rem) ;
			max-width: 131.1rem;
			margin: 0 auto;
			display: flex;
			top: 1.9rem;
			overflow: auto;
			@include min(md) {
				top: 3.6rem;
				left: 0;
				width: 100% ;

			}
			.breadcrumbs__separator{
				margin: 0 1.2rem;
			}
			li{
				color: #FFF;
				font-family: 'Inter';
				white-space: nowrap;
				font-size: 1.4rem;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 21px */
				&:last-of-type{
					span{
						text-decoration: none;
						color: #A3AAB5;
					}
				}
			}
			a{
				white-space: nowrap;
				color: #FFF;
				font-family: 'Inter';
				font-size: 1.4rem;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 21px */
				text-decoration-line: underline;
				&:hover{
					text-decoration-line: none;
				}
			}

		}
	}
	@include max(sm) {
		padding: 12rem 0 8rem;
		text-align: left;
		min-height: 60rem;
	}
	&.hero-banner{
		@include min(lg) {
            padding: 2.5rem 0 8rem;
			min-height: 69.9rem;
		}
	}
	&-min {
		@include min(md) {
			min-height: 60rem;
		}
	}
	&-background {
		@include p_absolute_cover;
		pointer-events: none;
		z-index: -1;
		&:before {
			content: '';
			pointer-events: none;
			background: linear-gradient(
				90deg, rgba(1, 28, 47, 1), rgba(5, 33, 53, 0.55)
			);
			@include p_absolute_cover;
		}
		&.__no_gradient {
			&:before {
				content: none;
			}
		}
		img {
			@include object_fit_cover;
		}
		img{
			opacity: .3;
		}
	}

	&-entry {
		width: 100%;
		color: $color-white;
		position: relative;
		z-index: 1;
		p {
			font-size: 1.8rem;
			font-weight: 500;
			margin: 1.3rem 0;
			line-height: 1.5;

			@include min(sm) {
				font-size: 2.4rem;
			}
		}
		h2,
		.title-2 {
			margin: 2rem 0;
		}
		h4, .title-4{
			margin: .6rem 0 0;
		}
		ul {
			font-size: 1.8rem;
			font-weight: 600;
			margin: 0rem 0 2.4rem;
			@include min(sm) {
				margin: 1.6rem 0 5.4rem;
				font-size: 2.4rem;
				display: flex;
			}

			li {
				margin: 0 3.2rem .4rem 0;
				padding-left: 2.6rem;
				font-family: 'Inter';
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 400;
				position: relative;
				line-height: 155%; /* 23.25px */
				@include min(sm) {
					padding-left: 2.5rem;
				}
				&:before {
					content: '';
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19' fill='none'%3E%3Cpath d='M9 2C4.86 2 1.5 5.36 1.5 9.5C1.5 13.64 4.86 17 9 17C13.14 17 16.5 13.64 16.5 9.5C16.5 5.36 13.14 2 9 2ZM6.9675 12.7175L4.275 10.025C3.9825 9.7325 3.9825 9.26 4.275 8.9675C4.5675 8.675 5.04 8.675 5.3325 8.9675L7.5 11.1275L12.66 5.9675C12.9525 5.675 13.425 5.675 13.7175 5.9675C14.01 6.26 14.01 6.7325 13.7175 7.025L8.025 12.7175C7.74 13.01 7.26 13.01 6.9675 12.7175Z' fill='white'/%3E%3C/svg%3E");
					background-size: contain;
					background-repeat: no-repeat;
					height: 2rem;
					width: 2rem;
					margin-right: .7rem;
					background-color: transparent;
					position: absolute;
					top: 0;
					left: 0;
					@include min(sm) {
						margin-right: 1rem;
						left: 0;
						top: 0;
					}
				}
			}
		}

		&--limiter {
			max-width: 100%;
			@include min(sm) {
				margin: 0;
				max-width: 75.2rem;
			}
		}

		&--limiter-lg {
			@include min(sm) {
				max-width: 92rem;
			}
		}

		&--limiter-md {
			@include min(sm) {
				max-width: 80rem;
			}
		}

		&--limiter-sm {
			@include min(sm) {
				max-width: 50rem;
			}
		}

		&--body {
			margin-bottom: 3.7rem;
		}
	}
	&-hero {
		h2 {
			margin: 1.3rem 0 2.4rem;
		}
		p{
			color: $color-white;
			font-feature-settings: 'clig' off, 'liga' off;
			font-family: 'Inter';
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			@include min(md) {
				font-size: 1.7rem;
				max-width: 65rem;
			}
			&:last-of-type{
				margin-bottom: .8rem;
				@include min(md) {
					margin-bottom: 1.3rem;
				}
			}
		}
		ul{
			li{
				font-size: 1.3rem;
			}
		}
		.btn-cta{
			width: 32rem;
			max-width: 100%;
			@include min(md) {
				width: auto;
				max-width: 100%;
			}
		}

	}
	&-full {
		h2 {
			margin: 2rem 0;
		}
		p {
			font-size: 1.7rem;
			margin: 1rem 0;
			&:last-of-type {
				margin-bottom: 5rem;
			}
		}
	}
}

.banner-buttons {
	display: flex;
	width: 100%;
	@include min(sm) {
		width: 100%;
	}
	> a {
		text-align: center;
		margin: 1rem 0;

		@include min(sm) {
			margin: 0 2.8rem 0 0;
			@include first_last_list_marign();
		}
	}
	.btn-cta{
		border: 0 !important;
		//width: 215px;
	}
}

.banner-switcher {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 3.4rem 0 4.2rem 0;
	&:before{
		position: absolute;
		content: '';
		background-image: linear-gradient(180deg, #031F33 0%, rgba(2, 33, 54, 0.50) 100%);
		width: 100%;
		height: 100%;
		opacity: .5;
		left: 0;
		top: 0;
		z-index: -1;
	}
	@include max(md) {
      padding: 1rem 0;
    }
	@include max(sm) {
		display: flex;
		flex-direction: column;
		padding: 3rem 0 2rem;

	}
	&-button {
      max-width: 25rem;
      width: 100%;
		font-family: 'Montserrat';
		padding: 1.2rem 1.2rem;
		font-size: 1.3rem;
		font-style: normal;
		font-weight: 600;
		line-height: 130%; /* 16.9px */
		letter-spacing: .9px;
		text-transform: uppercase;
		color: $color-white;
		position: relative;
		margin: 0 auto 0;
		@include clear-btn;
		@include min(sm) {
          padding: .7rem 1.2rem;
			margin:0 0 1.5rem;
			max-width: 100%;
            width: auto;
		}
		@include min(md) {
			margin:0 2.4rem 0;
		}
		&:after{
			position: absolute;
			content: '';
			right: -2.4rem;
			top: 10%;
			height: 80%;
			width: 1px;
			display: none;
			background: rgba(255,255,255, .4);
			@include min(md) {
				display: block;
			}
		}
		&:last-of-type{
			&:after{
				display: none;
			}
		}
		&.active {
			border-radius: 100px;
			background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
		}
	}
}
.section-button {
	text-align: center;
	padding: 0;
	margin: 0;
	&.offset-lg {
		padding: 12rem 0;
	}
	&.offset-md {
		padding: 8rem 0;
	}
	&.offset-sm {
		padding: 4rem 0;
	}
	@include min(md) {
		margin: 0;
	}
}
.video-banner-background {
	@include p_absolute_cover;
	pointer-events: none;
	z-index: -1;

	&:before {
		content: '';
		pointer-events: none;
		background: linear-gradient(
			90deg, rgba(1, 28, 47, 1), rgba(5, 33, 53, 0.55));
		@include p_absolute_cover;
	}
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: .3;
	}

}

.text-banner_spaces {
    padding: 8rem 0 .3rem;
    align-items: flex-start;
    min-height: 50.3rem;
	@include min(sm) {
		padding-top: 10rem;
		padding-bottom: 18rem;
	}
	@include min(lg) {
		padding-top: 11.2rem;
		padding-bottom: 19rem;
	}
	h4, .title-4{
      font-size: 1.4rem;
      letter-spacing: -.4px;
		margin: 0;
		color: $brand-secondary;
		@include min(sm) {
          font-size: 1.5rem;
          letter-spacing: .6px;
			color: $color-white;
		}
	}
	.title-1{
		margin: 1.7rem 0 1.9rem;
        @include min(sm) {
          margin: 1.9rem 0 1.9rem;
        }
	}
	p{
		/* Body/M */
		font-family: 'Inter';
        font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 155%;
        position: relative;
        left: .4rem;
        margin: 0 -.1rem 2.3rem;
		&:last-of-type{
          margin-bottom: 2.3rem;
          @include min(sm) {
            margin-bottom: 3.2rem;
          }
		}
      @include min(sm) {
        font-size: 1.7rem;
        position: static;
        margin: 0 0 1.3rem;
      }
	}
	.btn-outline{
		padding: 16px 32px;
		font-size: 13px;
		letter-spacing: 1.6px;
	}
}
