.post-title {
	// font-family: 'Montserrat';
	// font-style: normal;
	// font-weight: 600;


	font-feature-settings: 'clig' off, 'liga' off;
	/* Heading/H1 */
	font-family: 'Montserrat';
	font-size: 4.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 110%; /* 79.2px */
	letter-spacing: -1px;
	color: $color-white;
	margin-bottom: 3.2rem;
	max-width: 100%;
	@include min(lg) {
		max-width: 100%;
		font-size: 7.2rem;
	}

	// @include min(md) {
	// font-size: 70px;
	// }

	// @include min(lg) {
	// font-size: 96px;
	// line-height: 110px;
	// }
}
.section-blog__item{
	.text-sidebar{
		display: none;
	}
	@include min(md) {
		.text-sidebar{
			max-width: 31.2rem;
			width: 100%;
			display: block;
			&__inner{
				position: sticky;
				top: 10.4rem;
				border-radius: .8rem;
				background: $color-white;
				padding: 2.4rem;
			}
			&__title{
				font-feature-settings: 'clig' off, 'liga' off;
				/* Body/M Bold */
				font-family: 'Inter';
				font-size: 1.7rem;
				font-style: normal;
				font-weight: 600;
				line-height: 155%;
				margin-bottom: 1.6rem;
				background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			a{
				display: block;
				text-decoration: none;
				margin-bottom: 1.2rem;
				color:  #6F788B;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Inter';
				font-size: 1.7rem;
				font-style: normal;
				font-weight: 400;
				line-height: 155%; /* 26.35px */
				&:hover, &.active-color{
					color: $gray-black;
				}
			}
		}
		.container{
			display: flex;
		}
	}
	.center-figure{
		display: block;
		margin:1.6rem 0 2.4rem;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Montserrat';
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 155%; /* 23.25px */
		background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.text-entry__blog {
	width: 100%;
	@include min(md) {
		max-width: 86.4rem;
		padding-left: 3.2rem;
	}
	h2{
		color: $gray-black;
		//font-feature-settings: 'clig' off, 'liga' off;
		///* Heading Mob/H2 */
		//font-family: 'Montserrat';
		//font-size: 2.4rem;
		//font-style: normal;
		//font-weight: 600;
		//line-height: 140%; /* 33.6px */
		//letter-spacing: -1px;
		margin-bottom: 2.4rem;
		//@include min(md) {
		//	font-size: 3.6rem;
		//}
	}
	hr{
		background: $gray-400;
		margin: 3.2rem 0;
		@include min(md) {
			margin: 4rem 0;
		}
	}
	h3{}
	h4{}
	ul{
		padding-left: 1.6rem;
		li{
			&:before{
				top: .9rem;
				left: 0;
				width: .8rem;
				height: .8rem;
				border-radius:50%;
				background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
			}
		}
		&.check{
			li{
				&:before{
					top: .4rem;
					left: 0;
					width: 1.8rem;
					height: 1.8rem;
					background-color: transparent;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M9 1.5C4.86 1.5 1.5 4.86 1.5 9C1.5 13.14 4.86 16.5 9 16.5C13.14 16.5 16.5 13.14 16.5 9C16.5 4.86 13.14 1.5 9 1.5ZM6.9675 12.2175L4.275 9.525C3.9825 9.2325 3.9825 8.76 4.275 8.4675C4.5675 8.175 5.04 8.175 5.3325 8.4675L7.5 10.6275L12.66 5.4675C12.9525 5.175 13.425 5.175 13.7175 5.4675C14.01 5.76 14.01 6.2325 13.7175 6.525L8.025 12.2175C7.74 12.51 7.26 12.51 6.9675 12.2175Z' fill='url(%23paint0_linear_14405_4166)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14405_4166' x1='8' y1='1.5' x2='13.6552' y2='7.34614' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23002698'/%3E%3Cstop offset='1' stop-color='%233263F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		&.square{
			li{
				&:before{
					top: .7rem;
					left: 0;
					width: 1.2rem;
					height: 1.2rem;
					border-radius: 0;
					background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
				}
			}
		}
		&.line{
			li{
				&:before{
					top: 1.3rem;
					left: .1rem;
					width: 1.5rem;
					height: .1rem;
					background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
				}
			}
		}
		li{
			padding-left: 2.4rem;
			margin-bottom: .4rem;
			position: relative;
			&:before{
				position: absolute;
				content: '';
			}
			span{
				background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				display: block;
				margin-bottom: .4rem;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Montserrat';
				font-size: 1.9rem;
				font-style: normal;
				font-weight: 600;
				line-height: 128%; /* 24.32px */
			}
		}
	}
	ol{
		counter-reset: my-awesome-counter;
		ul, ol{
			counter-reset: my-awesome-counter;
			li{
				position: relative;
				counter-increment: my-awesome-counter;
				&:before{
					position: absolute;
					left: 0;
					top: 0;
					width: 2.4rem;
					text-align: center;
					height: 100%;
					content: counter(my-awesome-counter,  lower-alpha) '.';
					background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
		li{
			position: relative;
			counter-increment: my-awesome-counter;
			&:before{
				position: absolute;
				left: 0;
				top: 0;
				width: 2.4rem;
				text-align: center;
				height: 100%;
				content: counter(my-awesome-counter) ". ";
				background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

}
.table-wrap{
	margin: 4rem 0;
	width: 100%;
	border-radius: .8rem;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
	@include min(md) {
		overflow: auto;
	}
}
table{
	width: max-content;
	@include min(md) {
		width: 100%;
	}
	border: 0;
	border-spacing: 0;
	tr{
		&:first-of-type{}
		&:last-of-type{
			td{
				&:first-of-type{
					border-radius: 0px 0px 0px 8px;
				}
				&:last-of-type{
					border-radius: 0px 0px 8px 0px;
				}
			}
		}
	}
	tbody{
		tr{
			&:nth-child(2n+1){
				td{
					background: rgba(255, 255, 255, 1);
				}
			}
			&:nth-child(2n){
				td{
					background: rgba(250, 250, 250, 0.98);
				}
			}
		}
	}
	thead{
		th{
			&:first-of-type{
				border-radius: 8px 0px 0px 0px;
				border-left-color: transparent;

			}
			&:last-of-type{
				border-radius: 0px 8px 0px 0px;
			}
		}
	}
	th{
		text-align: left;
		color: $color-white;
		font-family: 'Inter';
		font-size: 1.2rem;
		padding: 1.2rem 1.6rem;
		font-style: normal;
		font-weight: 500;
		line-height: 150%; /* 18px */
		background: $brand-secondary;
		border-bottom: 1px solid $color-white;
		border-left: 1px solid $color-white;
	}
	td{
		color: $gray-700;
		font-family: 'Inter';
		font-size: 1.2rem;
		font-style: normal;
		font-weight: 400;
		vertical-align: middle;
		line-height: 150%; /* 18px */
		padding: 1.2rem 1.6rem;
		border-bottom: 1px solid $gray-300;
		border-right: 1px solid $gray-300;
		&:first-child{
			font-weight: 500;
			border-left: 1px solid $gray-300;
		}
	}
	th, td{
		position: relative;
		z-index: 1;
		width: 22.4rem;
		@include min(md) {
			width: 33.6rem;
		}
		&:first-of-type{
			position: sticky;
			left: -1px;
			z-index: 2;
			width: 8.8rem;
			@include min(md) {
				left: 0;
				width: 19.2rem;
			}
		}
	}
}
.info-post{
	display: flex;
	flex-wrap: wrap;
	li{
		color: #FFF;
		font-feature-settings: 'clig' off, 'liga' off;
		/* Body/S */
		font-family: 'Inter';
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 155%;
		margin-right: 2rem;
		position: relative;
		&:after{
			position: absolute;
			content: '·';
			right: -1.2rem;
			top: 0;
		}
		&:last-of-type{
			&:after{
				display: none;
			}
		}
	}
}
.text-entry {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Montserrat';
	font-style: normal;
	&.text-entry__blog{
		p, li{
			color: $gray-800;
			font-feature-settings: 'clig' off, 'liga' off;
			font-family: 'Inter';

			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: 155%; /* 26.35px */
			@include min(md) {
				font-size: 1.7rem;
			}
		}
		p{
			margin: 0 0 1.6rem 0;
		}
		blockquote{
			margin: 4rem 0;
			padding-left: 2.2rem;
			display: block;
			position: relative;
			&:before{
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 2px;
				background: $brand-secondary;
			}
			p{
				color: $brand-secondary;
				font-feature-settings: 'clig' off, 'liga' off;
				/* Heading/H3 */
				font-family: 'Montserrat';
				font-size: 2rem;
				font-style: normal;
				font-weight: 500;
				line-height: 128%; /* 30.72px */
				margin-bottom: 1.6rem;
				@include min(md) {
					margin-bottom: 3.2rem;
					font-size: 2.4rem;
				}
			}
			h4{
				color: $gray-800;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Montserrat';
				font-size: 1.3rem;
				font-style: italic;
				font-weight: 500;
				line-height: 155%; /* 20.15px */
				@include min(md) {
					font-family: 'Inter';
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 400;
					line-height: 155%; /* 23.25px */
				}
			}
		}
	}
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		width: auto;
	}
	figure {
		margin: 2.4rem 0;

		@include min(lg) {
			width: 100%;
		}

		img {
			display: block;
			width: 100%;
			border-radius: .8rem;
			//box-shadow: 0 4px 4px rgba(42, 42, 42, 0.1);
			overflow: hidden;
		}
		figcaption {
			text-align: center;
		}
	}

	h4 {
		// font-size: 18px;
		// font-weight: 600;
		// line-height: 1.8em;
	}

	p {
		// font-weight: 400;
		// line-height: 180%;
		// margin: 20px 0;
		// font-size: 16px;

		@include min(sm) {
			// font-size: 18px;
		}
	}

	li {
		// font-weight: 400;
		// line-height: 180%;
		position: relative;
		padding-left: 3rem;
		// font-size: 16px;

		@include min(sm) {
			// font-size: 18px;
		}

		&:before {
			content: '';
			@include circle(.3rem);
			position: absolute;
			left: 1rem;
			top: 1.6rem;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
}
.design-system{
	padding: 10rem 0;
}
.design-item{
	display: block;
	margin-bottom: 4rem;
	.design-item__title{
		display: block;
		font-size: 2.8rem;
		line-height: 150%;
		font-weight: 600;
		color: $gray-black;
	}
	p{
		strong{
			font-weight: 600;
		}
	}
}