.post-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	color: $color-white;

	@include min(sm) {
		font-size: 50px;
	}

	@include min(md) {
		font-size: 70px;
	}

	@include min(lg) {
		font-size: 96px;
		line-height: 110px;
	}
}

.text-entry {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Montserrat';
	font-style: normal;

	figure {
		margin-top: 30px;
		margin-bottom: 30px;

		@include min(sm) {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		@include min(md) {
			margin-top: 70px;
			margin-bottom: 100px;
		}

		@include min(lg) {
			margin-left: -30px;
			width: calc(100% + 60px);
		}

		img {
			display: block;
			width: 100%;
			border-radius: 20px;
			box-shadow: 0 4px 4px rgba(42, 42, 42, 0.1);
			overflow: hidden;
		}
		figcaption {
			text-align: center;
		}
	}

	h4 {
		font-size: 20px;
		font-weight: 600;
		font-size: 20px;
		line-height: 180%;
	}

	p {
		font-weight: 400;
		line-height: 180%;
		margin: 20px 0;
		font-size: 16px;

		@include min(sm) {
			font-size: 20px;
		}
	}

	li {
		font-weight: 400;
		line-height: 180%;
		position: relative;
		padding-left: 30px;
		font-size: 16px;

		@include min(sm) {
			font-size: 20px;
		}

		&:before {
			content: '';
			@include circle(3px);
			position: absolute;
			left: 10px;
			top: 16px;
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
}
