.card-wrapper .card {
	background: $color-white;
	//box-shadow: 0px 4px 4px rgba($color-black, 0.1);
	border-radius: 1.6rem;
	// margin-bottom: 27px;
	padding: 2rem;
	margin-bottom: 0;
	@include min(md) {
		padding: 3.2rem;
		height: 100%;
	}
	@include max(md) {
		margin-bottom: 3.2rem;
	}
	@include max(sm) {
		margin-bottom: 0;
	}
	.card-img{
		height: 6.9rem;
		img{
			max-height: 5rem;
		}
		@include min(sm) {
			height: 7.6rem;
		}
		//img{
		//	margin: 2.5rem 0 .8rem;
		//}
	}
	h4,
	.title-4 {
		&.text-wide {
			// font-size: 16px;
			// line-height: 129.8%;
			margin: 3rem 0;
			color: $color-blue;
		}
	}
    h3{
      &.text-wide {
        color: $brand-secondary;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 128%; /* 30.72px */
	    margin: 2rem 0 -.9rem;
	    letter-spacing: 0;
		  @include min(sm) {
			  font-size: 2.4rem;
		  }
      }
    }
	&-light-gray {
		background-color: $color-light-gray;
	}
	&-wrapper {
		margin-bottom: 3.2rem;
		// display: flex;
		height: 100%;
	}
	&-white-transparent {
		background-color: transparent;
		box-shadow: none;
		border: 1px solid $color-white;
		color: $color-white;
	}

	&-blue-transparent {
		background-color: transparent;
		box-shadow: none;
		border: 1px solid $color-blue;
		color: $color-blue;
	}

	.title-4 {
		&.text-capitalize {
			text-transform: capitalize;
		}
	}

	.title-2 {
		text-transform: capitalize;
	}

	.card-text {
		font-family: 'Inter'  ,sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 1.75em;
		margin: 1rem 0;
		@include min(md) {
			// font-size: 18px;
			margin: 2rem 0;
		}
	}

	&--no-padding {
		padding: 0 !important;
	}

	.card-body {
		padding: 2rem;

		@include min(md) {
			padding: 3.4rem;
		}

		p:first-of-type {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.card-image {
		height: 15.5rem;
		border-radius: 2rem;
		overflow: hidden;
		box-shadow: 0px 4px 4px rgba($color-black, 0.1);

		> img {
			@include object_fit_cover;
		}
	}
}
.card{
	border-radius: 1.6rem;
	height: auto;
	padding: 3.2rem;
	margin-bottom: 2.4rem;
	background: $color-white;
	@include min(md) {
		height: 100%;
		margin-bottom: 0;
	}
	.color-gradient{
		font-family: 'Montserrat';
		font-size: 4.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 110%; /* 79.2px */
		letter-spacing: -1px;
		background:  linear-gradient(177deg, #002698 0%, rgba(50, 99, 248, 0.35) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 2.4rem;
		text-align: center;
		@include min(md) {
			font-size: 7.2rem;
		}
	}
	.text-wide {
		color: $brand-secondary;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		font-size: 2.4rem;
		font-style: normal;
		font-weight: 500;
		line-height: 128%; /* 30.72px */
	}
	p{
		color: $gray-700;
		text-align: center;
		font-feature-settings: 'clig' off, 'liga' off;
		/* Body/M */
		font-family: 'Inter';
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 155%; /* 26.35px */
		@include min(sm) {
			font-size: 1.7rem;
		}
	}
}
.card-wrapper{
	padding-bottom: 3.2rem;
	height: 100%;
}
.card-hover {
	min-height: 100%;
	top: 0;
	position: relative;
	height: auto !important;
	transition: all 0.3s ease;
	@include min(md) {
		padding: 0;
	}

	&-top,
	&-back {
		min-height: 100%;
		border-radius: 2rem;
	}
	&-top {
		pointer-events: initial;
		padding: 3rem 5rem;
		.title-4 {
			margin-bottom: 6rem;
		}
	}
	&-back {
		opacity: 0;
		pointer-events: none;
		transition: $t-time;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 3rem 5rem;
		color: $color-white;
		z-index: 1;
		&-image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 2rem;
			overflow: hidden;
			&:before {
				content: '';
				@include p_absolute_cover;
				background-color: rgba(#1075bb, 0.8);
				border-radius: 2rem;
			}

			> img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	&:hover {
		top: -3.5rem;
		.card-hover-top {}
		.card-hover-back {
			opacity: 1;
			pointer-events: initial;
		}
	}
}

.box {
	background: $color-white;
	//box-shadow: 5px 10px 10px rgba($color-black, 0.03);
	border-radius: 1.6rem;

	&-lg {
		//padding: 2rem 1.5rem;
		@include min(sm) {
			//padding: 4rem 3rem;
		}
		@include min(md) {
			//padding: 6.8rem 10rem;
		}
	}

	&-white {
		background-color: $color-white;
	}
}

.content-box {
	justify-content: space-between;
	ul{
		list-style: none;
		li{
			padding-left: 0;
		}
	}
	&-text {
		padding: 2.4rem 2.4rem 3.6rem;
		h4, .title-2, .title-4{
			display: none;
		}
		@include min(sm) {
          padding: 4rem 2.4rem;
			h4, .title-2, .title-4{
				display: block;
			}
		}
      h2.title-4{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -.35px;
      }
		//margin-bottom: 2rem;
	}
	&-image{
		padding: 4rem 2.4rem 0;
		h4, .title-2, .title-4{
			margin-top: 0;
			display: block;
			@include min(sm) {
				display: none;
			}
		}
      h2.title-4{
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -.35px;
      }
	}

	@include min(sm) {
		display: flex;
		&-text {
			padding: 3.2rem 2.4rem 3rem;
			width: 50%;
		}
		&-image {
			width: 50%;
			padding: 1.6rem 1.6rem 1.6rem ;
			overflow: hidden;
			img, picture{
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: .8rem;
			}
		}
	}
	@include min(md) {
		&-text {
			padding: 3.2rem 4.4rem 3rem;
		}
	}
	@include min(lg) {
		&-text {
			padding: 6.6rem 7.2rem 6rem;
		}
		&--bigger-image {
			.content-box-text {
				width: 40%;
			}

			.content-box-image {
				width: 60%;
			}
		}
	}

	h2,
	h3 {
		font-size: 2.4rem;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -1.62px;
		line-height: 141%;
		margin: 0 0 2.4rem;
		@include min(sm) {
			margin: 0 0 2.4rem;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 700;
			line-height: 128%; /* 46.08px */
			letter-spacing: -1.98px;
		}
		@include min(md) {
			font-size: 2.6rem;
			margin: 0 0 4rem;
		}
		@include min(lg) {
			font-size: 3.6rem;
		}

		// font-weight: 500;
		// margin-bottom: 30px;
		// font-size: 30px;

		// @include min(md) {
		// line-height: 50px;
		// font-size: 40px;
		// }
	}

	p {
		font-family: 'Inter';
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 152%;
		margin: 0 0 1rem;
		&:last-of-type{
			margin: 0 0 1.4rem;
          @include min(md) {
            margin: 0 0 2.4rem;
          }
		}
		@include min(md) {
			font-weight: 500;
			font-size: 1.7rem;
			line-height: 152%;
            margin: 0 0 1.2rem;
		}
	}
	.btn-cta{
		padding: 1.6rem 3.2rem;
        width: 100%;
        max-width: 32rem;
        text-align: center;
		@include min(md) {
			width: auto;
			max-width: 100%;
		}
	}
  ul{
    li {
      /* Body/S */
      font-family: 'Inter';
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      padding-left: 2rem;
      color: $color-black;
      position: relative;
      margin-bottom: 1rem;
      @include min(md) {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
      }
      b, strong{
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 155%;
        color: $brand-secondary;
        @include min(md) {
          font-size: 1.7rem;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: .8rem;
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14' fill='none'%3E%3Ccircle cx='3' cy='11' r='3' fill='url(%23paint0_linear_14223_918)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14223_918' x1='2.6' y1='8' x2='4.86208' y2='10.3385' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23002698'/%3E%3Cstop offset='1' stop-color='%233263F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }

}

.image-card-box {
	border-radius: 1.6rem;
	overflow: hidden;
	color: $color-white;
	display: flex;
	flex-wrap: wrap;
	&--transparent {
		background-color: transparent;
		color: $color-black;
	}

	@include min(sm) {
		&-text,
		&-image {
			width: 50%;
		}
	}

	&-image {
		h4, .text-capitalize{
			display: block;
		}
		padding: 1.6rem;
		background: $color-white;
		&.image-card-box-image__full{
			padding: 0;
			img{
				border-radius: 0;
			}
		}
		@include min(md) {
			h4, .text-capitalize{
				display: none;
			}
			img , picture {
				width: 100%;
				height: 100%;
				border-radius: .8rem;
				//@include object_fit_cover;
			}
		}
	}

	&-text {
		padding: 2.8rem 2.4rem;
		background-color: $brand-secondary;

		@include min(md) {
			padding: 4rem;
		}
		@include min(lg) {
			padding: 4.5rem 7.2rem 5.1rem;
		}
		// h2 {
		// 	font-size: 30px;
		// 	@include min(sm) {
		// 		font-size: 40px;
		// 	}
		// }
		h4, .title-4{
			text-transform: none;
			font-size: 1.4rem;
			letter-spacing: 1.22px;
			margin-bottom: 0;
		}
		h2{
			letter-spacing: -1.41px;
			line-height: 140%;
			margin: 1.4rem 0 2.4rem;
			@include min(md) {
				letter-spacing: -1.61px;
				line-height: 128%;
				margin: 1.4rem 0 3.8rem;
			}
		}
		ul{
			li {
				/* Body/S */
				font-family: 'Inter';
				font-size: 1.3rem;
				font-style: normal;
				font-weight: 400;
				line-height: 155%;
				padding-left: 2rem;
				color: $gray-300;
				margin-bottom: 1rem;
				@include min(md) {
					font-size: 1.5rem;
					margin-bottom: 1.2rem;
				}
				b, strong{
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 600;
					line-height: 155%;
					@include min(md) {
						font-size: 1.7rem;
					}
				}
				&:before {
					left: 0;
					top: .8rem;
					background-color: $color-white;
				}
			}
		}

		p {
			font-family: 'Montserrat';
			font-weight: 300;
		}
		&--white {
			background-color: $color-white;
			color: rgba($color-black, 0.8);

			li {
				&:before {
					background-color: $color-black;
				}
			}
		}

		p:last-of-type {
			// margin-bottom: 50px;
			@include min(md) {
				margin-bottom: 3rem;
			}
		}

	}
}
.image-card-box-autoplay {
	position: relative;
	padding: 0 0;
	align-items: center;
	justify-content: center;
	background-color: $color-white;
	.title-4{}
	@include min(md) {

		width: 50%;
		display: flex;
		.title-4{
			display: none;
		}
	}
	&_inner {}
}
.image-card-box-video_full {
	position: relative;
	padding: 0 2rem;
	align-items: center;
	justify-content: center;
	background-color: $color-white;
	width: 100%;
	h4, .title-4{
		display: block;
		color: $gray-black;
		margin: 4rem .4rem .5rem;
	}
	@include min(md) {
		height: auto;
		h4, .title-4{
			display: none;
		}
		width: 50%;
		display: flex;
	}
	video {
		margin-left: -2.4rem;
		width: calc(100% + 4.8rem);
		height: auto;
		object-fit: cover;
		object-position: center;
		@include min(md) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin-left: 0;
		}
	}
}
.image-card-box-text{
	h4, .title-4{
		display: none;
		@include min(md) {
			display: block;
		}
	}
}
[data-toggle] {
	display: none;

	&.active {
		display: block;
	}
}

.__top-offset-lg {
	margin-top: 12.4rem;
}

.__top-offset-md {
	margin-top: 7.7rem;
}
.blockquote-slider{
  display: flex;
	//margin: 0 -1.6rem;
	//.tns-item{
	//	padding: 0 1.6rem;
	//}
  .tns-item{
    height: auto;
  }
}
.quote-section {
	padding: 2.8rem 2.4rem;
	background: $color-white;
	border-radius: 1.6rem;
	display: flex;
	transition: all ease 300ms;
	flex-wrap: wrap;
  height: 100%;
	align-items: flex-start;
	@include min(md) {
		padding: 3.2rem 2.4rem 4.6rem 4.7rem;
	}
	&:hover{
		background: $gray-black;
		p{
			color: $color-white;
		}
		span{
			color: #DFDFE4;
		}
	}
	p {
		display: block;
		width: 100%;
		font-family: 'Montserrat';
		font-size: 1.6rem;
		margin-bottom: 4rem;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 138%;
		transition: all ease 300ms;
		@include min(md) {
			line-height: 126%;
			font-size: 1.9rem;
			margin-bottom: 5.6rem;
			letter-spacing: -.2px;
		}
		b{
			background: var(--brand-cta, linear-gradient(180deg, #36BEE4 0%, #1075BB 100%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

		}
	}
	h4, .title-4{
		color: $brand-secondary;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Inter';
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 600;
		line-height: 155%; /* 26.35px */
		text-transform: none;
		margin: .7rem 0 .5rem;
	}
	span{
		color: $gray-700;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: 'Inter';
		font-size: 1.5rem;
		font-style: normal;
		transition: all ease 300ms;
		font-weight: 400;
		line-height: 155%; /* 26.35px */

	}
	@include min(md) {
		h4, .title-4{font-size: 1.7rem;}
		span{font-size: 1.7rem;}
	}

	figcaption {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		// font-size: 18px;
		line-height: 1.4;
		color: $color-blue;
		@include min(sm) {
			font-size: 2.6rem;
		}
		@include min(lg) {
			font-size: 3.2rem;
		}
	}

	&--sm {
		p {
			font-style: normal;
			font-weight: 400;
			// font-size: 18px;
			line-height: 150%;

			@include min(md) {
				margin-bottom: 3rem;
			}
		}
	}

	&-person {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 170%;
	}

	&-company-name {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 170%;
		text-transform: uppercase;
		color: #1075bb;
	}
}
.quote-desc{
	width: calc(100% - 9.8rem);
}
.quote-img{
	margin-left: .2rem;
	margin-right: 2.4rem;
	width: 7.2rem;
	height: 7.2rem;
	img, picture{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: .8rem;
	}
}
.guide-card {
	background: #f2f5f8;
	border-radius: 2rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

	&--image {
		height: 22.9rem;
		border-top-left-radius: 2rem;
		border-top-right-radius: 2rem;
		position: relative;

		&:before {
			content: '';
			background: -moz-linear-gradient(
				top,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			background: -webkit-linear-gradient(
				top,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			background: linear-gradient(
				to bottom,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#007db9e8', GradientType=0);
			@include p_absolute_cover;
			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}
	}

	&--body {
		padding: 3rem;

		p {
			color: #595959;
			font-weight: 300;
			font-size: 1.8rem;
		}
	}

	&--title {
		margin: 0 2rem 0 0;
		color: $color-blue;
		font-size: 3.2rem;
	}

	a {
		text-decoration: none;
	}
}
a {
	&.text-link {
		color: rgba(42, 42, 42, 0.7);
		font-size: 1.8rem;
		margin-bottom: 1rem;
		font-family: 'Montserrat';
		text-decoration: none;
		display: inline-block;
		min-height: 4.4rem;
		&:hover {
			color: #1075bb;
		}
	}
}

.content-box-video,
.content-box-autoplay {
	width: 100%;
	position: relative;
	margin-top: 4rem;
	.title-4{
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -1.61px;
		line-height: 128%;
		margin: 1.4rem 0 3.8rem;
	}
	@include min(md) {
		.title-4{
			display: none;
		}
		margin: 1.6rem;
		max-width: 50%;
	}
	&__inner {
		width: 100%;
		height: 100%;
		border-radius: .82rem;
		overflow: hidden;
		video {
			border-radius: .8rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.8;
	width: 10rem;
	height: 10rem;
	z-index: 1;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	img {
		pointer-events: none;
	}
}
.content-box-text.color-secondary{
	h4, .title-4{
		text-transform: none;
		color: $brand-secondary;
		margin: 0 0 1.4rem;
		font-size: 1.4rem;
	}
	h3{
		line-height: 126%;
		text-transform: none;
	}

	ul{
		li{
			color: $gray-700;
			font-feature-settings: 'clig' off, 'liga' off;
			font-family: 'Inter';
			font-size: 1.3rem;
			font-style: normal;
			font-weight: 400;
			line-height: 155%;
			padding-left: 2rem;
			margin-bottom: 1rem;
			&:last-of-type{
				margin-bottom: 0;
			}
			@include min(sm) {
				font-size: 1.5rem;
				margin-bottom: 1.2rem;
			}
			b, strong{
				color: $brand-secondary;
				font-size: 1.5rem;
				font-weight: 600;
				line-height: 155%; /* 26.35px */
				@include min(sm) {
					font-size: 1.7rem;
				}
			}
			&:before{
				background: linear-gradient(177deg, #002698 0%, #3263F8 100%);
			}
			strong{
				color: $brand-secondary;
			}
			color: #505E75;
		}
	}
}
.section-image{
	.content-box{
		display: flex;
		flex-direction: column-reverse;
		@include min(sm) {
			flex-direction: row;
		}
		&-image {
			.title-2{
				margin-bottom: 2.4rem;
			}
		}
	}
}
.content-box-text{
	&.content-box-text__full{
		padding: 0;
		img{
			border-radius: 1.6rem 1.6rem 0 0;
		}
		@include min(md) {
			img{
				border-radius: 1.6rem 0 0 1.6rem;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
.content-box-image{
	&.image-card-box-text__full{
		padding: 2.8rem 2.4rem;
		img{
			border-radius: 1.6rem 1.6rem 0 0;
		}
		@include min(md) {
			padding: 4rem;
			img{
				border-radius: 1.6rem 0 0 1.6rem;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		@include min(lg) {
			padding: 6.4rem 7.2rem 6.4rem;
		}
	}
}