.card {
	background: $color-white;
	box-shadow: 0px 4px 4px rgba($color-black, 0.1);
	border-radius: 20px;
	// margin-bottom: 27px;
	@extend .color-lighter;
	padding: 20px;

	@include min(md) {
		padding: 36px;
		height: 100%;
	}
	h3 {
		&.text-wide {
			// font-size: 16px;
			// line-height: 129.8%;
			margin: 30px 0;
			color: $color-blue;
		}
	}
	&-light-gray {
		background-color: $color-light-gray;
	}
	&-wrapper {
		padding-bottom: 27px;
		// display: flex;
		height: 100%;
	}
	&-white-transparent {
		background-color: transparent;
		box-shadow: none;
		border: 1px solid $color-white;
		color: $color-white;
	}

	&-blue-transparent {
		background-color: transparent;
		box-shadow: none;
		border: 1px solid $color-blue;
		color: $color-blue;
	}

	.title-4 {
		&.text-capitalize {
			text-transform: capitalize;
		}
	}

	.title-2 {
		text-transform: capitalize;
	}

	.card-text {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.75em;
		margin: 10px 0;
		@include min(md) {
			// font-size: 18px;
			margin: 20px 0;
		}
	}

	&--no-padding {
		padding: 0 !important;
	}

	.card-body {
		padding: 20px;

		@include min(md) {
			padding: 34px;
		}

		p:first-of-type {
			margin-top: 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	.card-image {
		height: 155px;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0px 4px 4px rgba($color-black, 0.1);

		> img {
			@include object_fit_cover;
		}
	}
}

.card-hover {
	height: 375px;
	top: 0;
	transition: $t-time;
	position: relative;
	overflow: hidden;

	@include min(md) {
		padding: 0;
	}

	&-top,
	&-back {
		height: 100%;
	}

	&-top {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
		padding: 50px 70px;

		.title-4 {
			margin-bottom: 60px;
		}
	}

	&-back {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: $t-time;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 50px 70px;
		position: absolute;
		color: $color-white;
		z-index: 1;

		&-image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			&:before {
				content: '';
				@include p_absolute_cover;
				background-color: rgba(#1075bb, 0.8);
			}

			> img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	&:hover {
		top: -35px;

		.card-hover-top {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: $t-time;
		}

		.card-hover-back {
			opacity: 1;
			visibility: visible;
			pointer-events: initial;
		}
	}
}

.box {
	box-shadow: 5px 10px 10px rgba($color-black, 0.03);
	border-radius: 20px;

	&-lg {
		padding: 20px 15px;
		@include min(sm) {
			padding: 40px 30px;
		}
		@include min(md) {
			padding: 68px 100px;
		}
	}

	&-white {
		background-color: $color-white;
	}
}

.content-box {
	justify-content: space-between;
	&-text {
		margin-bottom: 20px;
	}

	@include min(md) {
		display: flex;
		align-items: center;

		&-text {
			width: 47%;
		}

		&-image {
			width: 53%;
			border-radius: 20px;
			overflow: hidden;
		}

		&--bigger-image {
			.content-box-text {
				width: 40%;
			}

			.content-box-image {
				width: 60%;
			}
		}
	}

	h2,
	h3 {
		// font-weight: 500;
		text-transform: uppercase;
		// margin-bottom: 30px;
		// font-size: 30px;

		// @include min(md) {
		// line-height: 50px;
		// font-size: 40px;
		// }
	}

	p {
		font-weight: 500;
		line-height: 1.3em;
		// font-size: 16px;
		// line-height: 129.8%;
		margin: 30px 0;

		@include min(md) {
			// font-size: 18px;

			&:last-of-type {
				margin-bottom: 70px;
			}
		}
	}

	ul {
		li {
			margin-bottom: 20px;
			// font-size: 18px;
			line-height: 1.5em;
			position: relative;
			padding-left: 30px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 13px;
				display: block;
				background-color: $color-black;
				@include circle(7px);
			}
		}
	}
}

.image-card-box {
	border-radius: 20px;
	overflow: hidden;
	color: $color-white;
	display: flex;

	&--transparent {
		background-color: transparent;
		color: $color-black;
	}

	@include min(md) {
		&-text,
		&-image {
			width: 50%;
		}
	}

	&-image {
		display: none;

		@include min(md) {
			display: block;

			img {
				@include object_fit_cover;
			}
		}
	}

	&-text {
		padding: 20px;
		background-color: $color-blue;

		@include min(md) {
			padding: 40px;
		}
		@include min(lg) {
			padding: 50px;
		}
		// h2 {
		// 	font-size: 30px;
		// 	@include min(sm) {
		// 		font-size: 40px;
		// 	}
		// }
		li {
			&:before {
				background-color: $color-white;
			}
		}
		p {
			font-family: 'Montserrat';
			font-weight: 300;
		}
		&--white {
			background-color: $color-white;
			color: rgba($color-black, 0.8);

			li {
				&:before {
					background-color: $color-black;
				}
			}
		}

		p:last-of-type {
			// margin-bottom: 50px;
			@include min(md) {
				margin-bottom: 30px;
			}
		}
	}
}
.image-card-box-autoplay {
	position: relative;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	background-color: $color-white;
	display: none;
	@include min(md) {
		width: 50%;
		display: flex;
	}
	&_inner {
	}
}
.image-card-box-video_full {
	position: relative;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	background-color: $color-white;
	display: none;
	@include min(md) {
		width: 50%;
		display: flex;
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
[data-toggle] {
	display: none;

	&.active {
		display: block;
	}
}

.__top-offset-lg {
	margin-top: 124px;
}

.__top-offset-md {
	margin-top: 77px;
}

.quote-section {
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		background-image: url('../img/blockquote-symbol.png');
		width: 45px;
		height: 45px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		line-height: 1.5em;
		color: rgba(0, 0, 0, 0.8);
		font-size: 18px;
		@include min(sm) {
			font-size: 24px;
		}
		@include min(lg) {
			font-size: 30px;
		}
	}

	figcaption {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 300;
		// font-size: 18px;
		line-height: 1.4;
		color: $color-blue;
		@include min(sm) {
			font-size: 26px;
		}
		@include min(lg) {
			font-size: 32px;
		}
	}

	&--sm {
		p {
			font-style: normal;
			font-weight: 400;
			// font-size: 18px;
			line-height: 150%;

			@include min(md) {
				margin-bottom: 30px;
			}
		}
	}

	&-person {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 170%;
	}

	&-company-name {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 170%;
		text-transform: uppercase;
		color: #1075bb;
	}
}

.guide-card {
	background: #f2f5f8;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);

	&--image {
		height: 229px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		position: relative;

		&:before {
			content: '';
			background: -moz-linear-gradient(
				top,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			background: -webkit-linear-gradient(
				top,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			background: linear-gradient(
				to bottom,
				rgba(125, 185, 232, 1) 0%,
				rgba(125, 185, 232, 0.98) 1%,
				rgba(125, 185, 232, 0.16) 51%,
				rgba(125, 185, 232, 0) 61%
			);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#007db9e8', GradientType=0);
			@include p_absolute_cover;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
	}

	&--body {
		padding: 30px;

		p {
			color: #595959;
			font-weight: 300;
			font-size: 18px;
		}
	}

	&--title {
		margin: 0 20px 0 0;
		color: $color-blue;
		font-size: 32px;
	}

	a {
		text-decoration: none;
	}
}
a {
	&.text-link {
		color: rgba(42, 42, 42, 0.7);
		font-size: 18px;
		margin-bottom: 10px;
		font-family: 'Montserrat';
		text-decoration: none;
		display: inline-block;
		min-height: 44px;
		&:hover {
			color: #1075bb;
		}
	}
}

.content-box-video,
.content-box-autoplay {
	width: 100%;
	position: relative;
	margin-top: 40px;
	@include min(md) {
		margin: 0 20px;
		max-width: 53%;
	}
	&__inner {
		width: 100%;
		border-radius: 20px;
		overflow: hidden;

		video {
			width: 100%;
		}
	}
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.8;
	width: 100px;
	height: 100px;
	z-index: 1;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	img {
		pointer-events: none;
	}
}
