.btn-primary{
	border-radius: 10rem;
	display: inline-block;
	padding: 1.8rem 3.2rem;
	transition: all ease 300ms;
	letter-spacing: 1px;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1;
	overflow: hidden;
	//background-image: linear-gradient(177deg, #002698 0%, #3263F8 100%);
	position: relative;
	.text{
		font-weight: 600;
		font-feature-settings: 'clig' off, 'liga' off;
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.6rem;
		transition: all ease 300ms;
	}
	.bg{
		position: absolute;
		width: 150%;
		height: 200%;
		border-radius: 50%;
		top: -50%;
		left: -25%;
		transform: translate3d(0,75%,0);
		background: $color-white;
		//background: linear-gradient(177deg, #002698 0%, #3263F8 100%);
		transition: all ease 300ms;
		z-index: -1;
	}

	&:before, &:after{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		z-index: -2;
		transition: all ease 600ms;
	}
	&:before{
		background: linear-gradient(177deg, #002698 0%, #3263F8 100%);
	}
	&:after{
		//background: $color-white;
		top: .1rem;
		left: .1rem;
		width: calc( 100% - .2rem);
		height: calc( 100% - .2rem);
	}
	&:hover{
		.text{
			color: transparent;
			background: var(--brand-cta-new-color, linear-gradient(177deg, #002698 0%, #3263F8 100%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			position: relative;
			z-index: 5;
		}
		.bg{
			top: -50%;
			transform: translate3d(0,0%,0);
		}
		//&:before, &:after{
		//	z-index: 2;
		//}
	}
}
.btn-cta {
	border-radius: 10rem;
	font-weight: 600;
	font-feature-settings: 'clig' off, 'liga' off;
	color: $color-white;
	display: inline-block;
	text-transform: uppercase;
	padding: 1.8rem 1.2rem;
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1;
	position: relative;
	&:before,
	&:after{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	&:before{}
	&:after{
		background: linear-gradient(177deg, #002698 0%, #3263F8 100%);
		transition: all ease 300ms;
		z-index: -1;
	}
	@include clear-btn;
	@include min(md) {
		letter-spacing: 2px;
		padding: 2rem 2.8rem;
		font-size: 1.8rem;
	}

	@include min(lg) {
		letter-spacing: 3px;
		font-size: 1.8rem;
		padding: 2rem 3.4rem;
	}

	&-sm {
		@include min(lg) {
			font-size: 1.6rem;
			padding: 1.7rem 3.6rem;
		}
	}
}
.hero-play{
	color: $color-white;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 600;
	line-height: 130%; /* 16.9px */
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn-outline {
	background: transparent;
	border-radius: 4rem;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	padding: 2rem 2.2rem;
	font-size: 1.6rem;
	letter-spacing: 1px;
	text-decoration: none;
	@include clear-btn;
	transition: 0.2s;

	&-white {
		box-shadow: inset 0 0 0 2px $color-white;
		color: $color-white;

		&:hover {
			background-color: $color-white;
			color: $color-blue;
		}
	}

	&-blue {
		box-shadow: inset 0 0 0 2px $color-blue;
		color: $color-blue;

		&:hover {
			background-color: $color-blue;
			color: $color-white;
		}
	}

	@include min(md) {
		letter-spacing: 2px;
		padding: 2rem 2.8rem;
		font-size: 1.8rem;
	}

	@include min(lg) {
		letter-spacing: 3px;
		font-size: 1.8rem;
		padding: 2rem 3.2rem;
	}
}
