.btn-cta {
	background: linear-gradient(180deg, #36bee4 0%, #1075bb 100%);
	border-radius: 40px;
	font-weight: 700;
	color: $color-white;
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 22px;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	white-space: nowrap;
	@include clear-btn;

	@include min(md) {
		letter-spacing: 2px;
		padding: 20px 28px;
		font-size: 18px;
	}

	@include min(lg) {
		letter-spacing: 3px;
		font-size: 18px;
		padding: 20px 34px;
	}

	&-sm {
		@include min(lg) {
			font-size: 16px;
			padding: 17px 36px;
		}
	}
}

.btn-outline {
	background: transparent;
	border-radius: 40px;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 22px;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	@include clear-btn;
	transition: 0.2s;

	&-white {
		box-shadow: inset 0 0 0 2px $color-white;
		color: $color-white;

		&:hover {
			background-color: $color-white;
			color: $color-blue;
		}
	}

	&-blue {
		box-shadow: inset 0 0 0 2px $color-blue;
		color: $color-blue;

		&:hover {
			background-color: $color-blue;
			color: $color-white;
		}
	}

	@include min(md) {
		letter-spacing: 2px;
		padding: 20px 28px;
		font-size: 18px;
	}

	@include min(lg) {
		letter-spacing: 3px;
		font-size: 18px;
		padding: 20px 32px;
	}
}
