.faq-title {
	font-family: 'Montserrat' ;
	color: $gray-black;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 128%; /* 46.08px */
	letter-spacing: -1px;
	margin-bottom: 1.6rem;
	@include min(sm) {
		font-size: 3.6rem;
	//	padding-bottom: 4rem;
	//	margin-bottom: 4rem;
	}
}

.faq-subtitle{
	color: $gray-700;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Inter';
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	line-height: 155%;
	max-width: 64rem;
	margin: 0 auto 1.4rem;
	@include min(sm) {
		font-size: 1.7rem;
	}
}
.faq-item {
	padding: 2.4rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;
	&:first-of-type{
		border-top: 0;
	}
	@include min(sm) {
	}
	@include min(md) {
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 1.8rem;
		text-transform: uppercase;
		color: $color-blue;
		padding-right: 6rem;
		margin-top: 0;
		margin-bottom: 1.2rem;
		&:before {
			content: '';
			width: 2rem;
			height: 2rem;
			background-image: url(../img/plus.svg);
			position: absolute;
			right: 0;
			top: 2.5rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(0);
			transition: transform 0.4s ease;
			@include min(md) {
				width: 2.4rem;
				height: 2.4rem;
				top: 2.3rem;
			}
		}
		@include min(md) {
			font-size: 2.4rem;
			margin-bottom: 4rem;
			line-height: 4.5rem;
		}
	}

	&-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 129.8%;
		p{
			line-height: 1.7em;
			margin: 2rem 0;
		}
		ul{
			li{
				position: relative;
				padding-left: 2rem;
				&:before{
					position: absolute;
					content: '';
					left: 0;
					top: 1.1rem;
					width: .6rem;
					height: .6rem;
					background: $color-blue;
					border-radius: 50%;
				}
			}
		}
		ol {
			list-style: none;
			counter-reset: my-awesome-counter;
			li {
				counter-increment: my-awesome-counter;
				&:before {
					content: counter(my-awesome-counter) "";
					color: $color-blue;
					margin-right: 1.4rem;
				}
			}

		}
		a{
			color: $color-blue;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		@include min(md) {
			font-size: 1.8rem;
		}
	}
}
.faq {
	&-section {
		.faq-item {
			position: relative;
			&.active {
				border-color: $brand-secondary;
				.faq-item-title {
					border-color: $brand-secondary;
					color: $brand-secondary;
					&:before {
						transform: rotate(180deg);
						background-image: url(../img/minus.svg);
					}
				}
			}
		}
		.faq-item-text {
			color: $gray-700;
			font-feature-settings: 'clig' off, 'liga' off;
			/* Body/M */
			font-family: 'Inter';
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 400;
			padding-right: 1rem;
			line-height: 151%; /* 26.35px */
			@include min(sm) {
				font-size: 1.7rem;
			}
		}
		.faq-item-title {
			text-transform: unset;
			cursor: pointer;
			margin-bottom: 0;
			color:  $gray-black;
			font-feature-settings: 'clig' off, 'liga' off;
			font-family: 'Montserrat';
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: 128%;
			letter-spacing: -.5px;
			@include min(sm) {
				font-size: 1.9rem;
			}
		}
		.faq-item-text {
			padding-top: 1rem;
			visibility: hidden;
			position: absolute;
			left: -9999px;
			top: -9999px;
			margin-top: 10px;
			opacity: 0;
			transition: margin-top 0.7s ease, opacity 0.4s ease;
			&.active{
				visibility: visible;
				position: relative;
				left: 0;
				top: 0;
				margin-top: 0;
				opacity: 1;
			}
		}
	}
	&-wrap{
		max-width: 86.4rem;
		margin: 4.4rem auto 0;
		@include min(sm) {
			margin: 0 auto 0;
		}
	}
}
