.faq-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 30px;
	padding-bottom: 30px;

	@include min(lg) {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
}

.faq-item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;

	@include min(sm) {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	@include min(md) {
		padding-bottom: 40px;
		margin-bottom: 40px;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	&-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 20px;
		text-transform: uppercase;
		color: #1075bb;
		padding-right: 60px;
		// margin-top: 0;
		&::before {
			content: '';
			width: 20px;
			height: 20px;
			background-image: url(../img/plus.svg);
			position: absolute;
			right: 5px;
			top: 5px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(0);
			transition: transform 0.4s ease;
			@include min(md) {
				width: 30px;
				height: 30px;
				top: 10px;
			}
		}
		@include min(md) {
			font-size: 24px;
			margin-bottom: 40px;
			line-height: 45px;
		}
	}

	&-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 129.8%;
		p{
			line-height: 1.7em;
			margin: 20px 0;
		}
		ul{
			li{
				position: relative;
				padding-left: 20px;
				&:before{
					position: absolute;
					content: '';
					left: 0;
					top: 11px;
					width: 6px;
					height: 6px;
					background: #1075bb;
					border-radius: 50%;
				}
			}
		}
		ol {
			list-style: none;
			counter-reset: my-awesome-counter;
			li {
				counter-increment: my-awesome-counter;
				&:before {
					content: counter(my-awesome-counter) "";
					color: #1075bb;
					margin-right: 14px;
				}
			}

		}
		a{
			color: #1075bb;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		@include min(md) {
			font-size: 18px;
		}
	}
}
.faq {
	&-section {
		padding: 100px 0 0;
		.faq-item {
			position: relative;
			&.active {
				.faq-item-title {
					margin-bottom: 20px;
					&::before {
						transform: rotate(45deg);
					}
				}
			}
		}
		.faq-item-title {
			text-transform: unset;
			cursor: pointer;
			margin-bottom: 0;
		}
		.faq-item-text {
			visibility: hidden;
			position: absolute;
			left: -9999px;
			top: -9999px;
			margin-top: 50px;
			opacity: 0;
			transition: margin-top 0.7s ease, opacity 0.4s ease;
			&.active {
				visibility: visible;
				position: relative;
				left: 0;
				top: 0;
				margin-top: 0;
				opacity: 1;
				transition: margin-top 0.7s ease, opacity 0.4s ease;
			}
		}
	}
}
