.faq-title {
	font-family: 'Montserrat' , sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 4rem;
	line-height: 4.5rem;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	margin-bottom: 3rem;
	padding-bottom: 3rem;

	@include min(lg) {
		padding-bottom: 4rem;
		margin-bottom: 4rem;
	}
}

.faq-item {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	position: relative;

	@include min(sm) {
		padding-bottom: 3rem;
		margin-bottom: 3rem;
	}
	@include min(md) {
		padding-bottom: 4rem;
		margin-bottom: 4rem;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	&-title {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 1.8rem;
		margin-bottom: 2rem;
		text-transform: uppercase;
		color: #1075bb;
		padding-right: 6rem;
		// margin-top: 0;
		&::before {
			content: '';
			width: 2rem;
			height: 2rem;
			background-image: url(../img/plus.svg);
			position: absolute;
			right: .5rem;
			top: .5rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transform: rotate(0);
			transition: transform 0.4s ease;
			@include min(md) {
				width: 3rem;
				height: 3rem;
				top: 1rem;
			}
		}
		@include min(md) {
			font-size: 2.4rem;
			margin-bottom: 4rem;
			line-height: 4.5rem;
		}
	}

	&-text {
		font-family: 'Montserrat' , sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 129.8%;
		p{
			line-height: 1.7em;
			margin: 2rem 0;
		}
		ul{
			li{
				position: relative;
				padding-left: 2rem;
				&:before{
					position: absolute;
					content: '';
					left: 0;
					top: 1.1rem;
					width: .6rem;
					height: .6rem;
					background: #1075bb;
					border-radius: 50%;
				}
			}
		}
		ol {
			list-style: none;
			counter-reset: my-awesome-counter;
			li {
				counter-increment: my-awesome-counter;
				&:before {
					content: counter(my-awesome-counter) "";
					color: #1075bb;
					margin-right: 1.4rem;
				}
			}

		}
		a{
			color: #1075bb;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		@include min(md) {
			font-size: 1.8rem;
		}
	}
}
.faq {
	&-section {
		padding: 10rem 0 0;
		.faq-item {
			position: relative;
			&.active {
				.faq-item-title {
					margin-bottom: 2rem;
					&::before {
						transform: rotate(45deg);
					}
				}
			}
		}
		.faq-item-title {
			text-transform: unset;
			cursor: pointer;
			margin-bottom: 0;
		}
		.faq-item-text {
			visibility: hidden;
			position: absolute;
			left: -9999px;
			top: -9999px;
			margin-top: 5rem;
			opacity: 0;
			transition: margin-top 0.7s ease, opacity 0.4s ease;
			&.active {
				visibility: visible;
				position: relative;
				left: 0;
				top: 0;
				margin-top: 0;
				opacity: 1;
				transition: margin-top 0.7s ease, opacity 0.4s ease;
			}
		}
	}
}
