.page-footer {
	//@extend .color-lighter;
	background: #011C2F;
	padding: 8rem 0 3.2rem;
	text-align: center;
	position: relative;
	background-color: $color-light-200;
	@include min(sm) {
		text-align: left;
	}

	a {
		//@extend .color-lighter;
		text-decoration: none;
		&.btn-cta {
			color: $color-white;
		}
		&:hover {
			color: $color-light-blue;
			box-shadow: none;
		}
	}
	&--right {
		a {
			display: block;
			img {
				width: 12rem;
			}
		}
	}
}

.footer-row {
	@include min(sm) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&--top {
		margin-bottom: 5rem;

		@include min(sm) {
			margin-bottom: 10rem;

			.page-footer--left {
				max-width: 22rem;
				margin-right: 2rem;
			}
		}
		@include min(md) {

			.page-footer--left {
				max-width: 43rem;
				margin-right: 1rem;
			}
		}
	}

	&--bottom {
		@include min(sm) {
			flex-direction: row-reverse;
		}
	}
}

.footer-menu-column {
	@include first_last_list_marign;

	@include min(sm) {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	@include min(md) {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			@include min(sm) {
				margin: 2rem 0;
			}

			padding: 0;
			a{
				@include min(sm) {
					font-size: 1.4rem;
				}
				@include min(md) {
					font-size: 1.6rem;
				}
			}
		}
	}

	h4 {
		@include min(sm) {
			font-size: 1.6rem;
		}
		@include min(md) {
			font-size: 1.8rem;
		}
		@include down(sm) {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}
}
.grecaptcha-badge{
	z-index: 999;
}
// .footer-form {
// 	@include down(sm) {
// 		margin-bottom: 30px;
// 	}

// 	input {
// 		padding: 20px 50px;
// 		width: 100%;
// 		margin-bottom: 20px;
// 		text-align: center;

// 		@include min(sm) {
// 			text-align: left;
// 			margin-bottom: 0;

// 			width: 300px;
// 			margin-right: 36px;
// 		}

// 		@include min(md) {
// 			width: 390px;
// 		}
// 	}
// }
