body{
	padding-top: 7.5rem;
	@include min(md) {
		padding-top: 8.8rem;
	}
}
.page-header {
	background-color: $color-white;
	padding: 1.8rem 0 2.1rem;
	box-shadow: 0px 0px 2.4rem 0px rgba(0, 0, 0, 0.15);
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	@include min(md) {
		padding: 2.1rem 0 0;
	}
	&-container {
		@include f-between;
	}
	&-menu {
		margin-top: .5rem;
		@include min(md) {
			margin-top: 0;
		}
	}
	.btn-cta{
		padding: 1.2rem 1.5rem;
	}
}

.menu-open {
	overflow: hidden;
}

.logo {
	width: 13.45rem;
	display: block;
	position: relative;
	z-index: 20;
	// margin-top: -5px;
	@include min(md) {
		width: 17.3rem;
		margin-top: .9rem;
	}

	img {
		display: block;
		width: 100%;
		position: relative;

		@include min(xs) {
			top: -.6rem;
		}

		@include min(md) {
			top: -1rem;
		}
	}
}
