body{
	padding-top: 11rem;
	@media screen and (max-width: 992px){
		padding-top: 8rem;
	}
}
.page-header {
	background-color: $color-white;
	padding: 1.7rem 0;
	box-shadow: 0px 0px 2.4rem 0px rgba(0, 0, 0, 0.15);
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	&-container {
		@include f-between;
	}
	&-menu {
		margin-top: .5rem;
	}
}

.menu-open {
	overflow: hidden;
}

.logo {
	width: 15.7rem;
	display: block;
	position: relative;
	z-index: 20;
	// margin-top: -5px;
	@include min(md) {
		width: 26rem;
	}

	img {
		display: block;
		width: 100%;
		position: relative;

		@include min(xs) {
			top: -.6rem;
		}

		@include min(md) {
			top: -1rem;
		}
	}
}
