.main-menu {
	background-color: #fafafa;
	position: fixed;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	@include _cover;
	@include flex-center;

	@include down(md) {
		@include toggle_visibility('active');
		background: $gray-black;
		padding-top: 8rem;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		ul{
			text-align: left;
			width: 100%;
			align-items: flex-start;
			a{
				text-align: left;
				padding: 0;
				margin-bottom: 1.6rem;
			}
			li{
				width: 100%;
				padding: 0 2.4rem;
				text-align: left;
				ul{
					padding-top: 1rem;
					li{
						padding: 0 1.2rem;
						margin-bottom: 1.2rem;
					}
					a{
						padding: 0;
					}
				}
			}
		}
	}

	a {
		color: $color-white;
		font-weight: 600;
		text-decoration: none;
		font-family: 'Montserrat';
		display: block;
		font-size: 1.9rem;
		line-height: 130%; /* 19.5px */
		padding: 1rem 2rem 1rem;

		@include min(md) {
			padding: 1.1rem 2rem 3.7rem;
			font-size: 1.6rem;
			color: $gray-black;
		}

		@include min(lg) {
			font-size: 1.5rem;
		}
		&:hover {
			color: transparent;
			background: var(--brand-cta, linear-gradient(180deg, #36BEE4 0%, #1075BB 100%));
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@include min(md) {
              color: transparent;
              background: linear-gradient(160deg, #002698 0%, #3263F8 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
			}
		}
	}

	> ul {
		display: flex;
		flex-direction: column;

		@include min(md) {
			flex-direction: row;
		}
		> li {
			display: inline-block;
			margin: 1rem 0;
			position: relative;
			text-align: left;
			&:not(:last-child) {
				@include min(md) {
					//margin-right: 1rem;
				}
			}
			@include min(md) {
				// padding: 0 12px;
				margin: 0 2.4rem;
				position: relative;
			}

			@include min(lg) {
				// padding: 0 20px;
			}

			&.menu-item-has-children {
				// position: relative;
				&.active{
					a{
						&:after{
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14 11L8 5L2 11' stroke='url(%23paint0_linear_14337_1919)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14337_1919' x1='8' y1='11' x2='8' y2='5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2336BEE4'/%3E%3Cstop offset='1' stop-color='%231075BB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
							@include min(md) {
								transform: rotate(180deg);
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M12 10.5L8 6.5L4 10.5' stroke='url(%23paint0_linear_14501_327)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14501_327' x1='8.53333' y1='10.5' x2='7.35044' y2='8.05435' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23002698'/%3E%3Cstop offset='1' stop-color='%233263F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
							}
						}
					}
				}
				& > a {
					//pointer-events: none;
					// padding: 10px 20px;

					padding-right: 2rem;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						right: 0;
						top: .5rem;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2 5L8 11L14 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
						width: 1.6rem;
						height: 1.6rem;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
						@include min(md) {
							top: 1.2rem;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4 6.5L8 10.5L12 6.5' stroke='%23011C2F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
						}
						@include min(lg) {
							top: 1.2rem;
						}
					}
				}

			}
			// Submenu dropdown
			@include min(md) {
				&:hover {
					a {
						&:after {

							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M12 10.5L8 6.5L4 10.5' stroke='url(%23paint0_linear_14501_327)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14501_327' x1='8.53333' y1='10.5' x2='7.35044' y2='8.05435' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23002698'/%3E%3Cstop offset='1' stop-color='%233263F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
						}
					}

					> ul {
						margin: 0;
						@include min(md) {
							display: block;
							top: 100%;
							opacity: 1;
							visibility: visible;
							z-index: 1;
						}
					}
				}
			}
			> ul {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				z-index: -1;
				transition: all ease 300ms;
				border-radius: 1.6rem;
				border-top: 2px solid $color-light-blue;
				a{
					font-family: 'Inter';
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 400;
					line-height: 155%; /* 23.25px */
					width: auto;
					display: inline-block;
				}
				&.active{
					position: relative;
					opacity: 1;
					visibility: visible;
					z-index: 1;
				}
				@include min(md) {
					display: block;
					position: absolute;
					transition: all ease 300ms;
					top: 90%;
					opacity: 0;
					visibility: hidden;
					z-index: -1;
					background: $gray-300;
					padding: 1.6rem 1.2rem;
					width: 100%;
					min-width: max-content;
					left: 50%;
					transform: translate(-50%, 0);
					//top: .5rem;
					li {
						text-align: left;
						margin-bottom: .4rem;
						&:last-of-type{
							margin-bottom: 0;
						}
						a{
							text-align: center;
							color: $gray-black;
							position: relative;
							z-index: 2;
							border-radius: 10rem;
							padding: .4rem 1.2rem;
							&:after{
								position: absolute;
								content: '';
								left: 0;
								top: 0;
								z-index: -1;
								width: 100%;
								height: 100%;
								border-radius: 10rem;
								pointer-events: none;
								opacity: 0;
								background-image: linear-gradient(160deg, #002698 0%, #3263F8 100%) !important;
							}
							@include min(md) {
							&:hover{
								color: $color-white;
								background: transparent;
								background-clip: unset;
								-webkit-background-clip: unset;
								-webkit-text-fill-color: #fff;

									&:after{
									opacity: 1;
									}
								}
							}
						}
					}

				}
			}
		}
	}

	@include min(md) {
		position: static;
	}
}

.toggle-menu {
	@include clear-btn;
	width: 2.6rem;
	height: 2.4rem;
	position: relative;
	cursor: pointer;
	z-index: 20;
	@include min(md) {
		display: none;
	}
	i {
		display: block;
		height: .2rem;
		background-size: cover;
		background-image: url("data:image/svg+xml,%3Csvg width='26' height='2' viewBox='0 0 26 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H25' stroke='url(%23paint0_linear_14601_523)' stroke-width='2' stroke-linecap='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14601_523' x1='13' y1='1' x2='13' y2='2' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2336BEE4'/%3E%3Cstop offset='1' stop-color='%231075BB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		position: absolute;
		transform: rotate(0deg);
		transition: 0.2s;
		left: 0;
		width: 100%;
		max-width: 2.6rem;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			margin-top: -.1rem;
			opacity: 1;
		}
		&:nth-child(3) {
			top: 100%;
			margin-top: -.1rem;
		}
	}

	&.active {
		i {
			&:nth-child(1) {
				top: 50%;
				transform: rotate(45deg);
				margin-top: -.2rem;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				top: 50%;
				transform: rotate(-45deg);
				margin-top: -.2rem;
			}
		}
	}
}
