.single-post, .single-podcasts{
	.text-banner{
		text-align: center;
	}
	.post-title{
		margin: 0 auto;
		max-width: 100%;
	}
	.breadcrumb-wrapper, .section{
		.container{
			max-width: 108rem;
		}
	}
}
.post-list-title {
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 4rem;
	line-height: 4.5rem;
	border-bottom: 1px solid #1075bb;
	text-transform: uppercase;
	padding-bottom: 8.5rem;
	margin-bottom: 6.7rem;
}

.post-item {
	border-bottom: 1px solid #1075bb;
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	a{
		text-decoration: none;
	}
	&:last-of-type{
		border-bottom: 0;
	}
	.btn-cta{
		margin: auto 0 0;
		transition: all ease 300ms;
		&:hover{
			opacity: .8;
		}
	}
	width: 100%;
	&.blog-item{
		border-bottom: 0;
		.post-item-image{
			a{
				background: linear-gradient(180deg,rgba(16,117,187,.22) 8.63%,rgba(13,80,152,.68) 70.83%,#1075bb);
			}
			img{
				object-fit: cover;
				position: relative;
				z-index: -1;
			}
		}
		@include min(sm) {
			margin-bottom: 6.7rem;
			width: 50%;
			.post-item-image{
				height: 24rem;
			}
		}
		@include min(md) {
			width: 33.3333%;
			flex-direction: column;
			border-bottom: 0;
			.post-item-image{
				height: 20rem;
				margin-bottom: 1rem;
				a{
					max-width: 100%;
				}
				img{
					object-fit: cover;
				}
			}
			.post-item-text{
				padding: 0;
				height: calc(100% - 20rem);
				p{
					font-size: 1.6rem;
					margin: 1rem 0;
				}
			}
			.post-item-title{
				font-size: 2rem;
				min-height: 7.5rem;
				margin: 0;
			}
			.btn-cta{
				padding: 1.6rem 3rem;
			}
		}
	}
	&.case-item{
		.post-item-image{
			img{
				object-fit: cover;
			}
		}
		@include min(md) {
			.post-item-image{
				width: 44rem;
				height: 29.5rem;
				img{
					object-fit: cover;
				}
			}
			.post-item-text{
				width: calc(100% - 44rem);
			}
		}
	}
	@include min(sm) {
		margin-bottom: 6.7rem;
		padding: 0 1.5rem 5rem;
	}
	@include min(md) {
		padding: 0 1.5rem 10rem;
		display: flex;

	}

	&-image {
		border: 1px solid #1075bb;
		border-radius: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
		height: 20rem;
		overflow: hidden;
		width: 100%;

		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		a{
			width: 100%;
			height: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			transform: scale(1);
			transition: all ease 300ms;
		}
		@include min(sm) {
			margin-bottom: 2rem;
			height: 34rem;
		}
		@include min(md) {
			max-width: 44rem;
			margin-bottom: 0;
			a{
				max-width: 44rem;
			}
		}

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--offset {
			padding: 5rem;

			> img {
				width: auto;
				height: auto;
				object-fit: initial;
				max-width: 100%;
				filter: grayscale(1);
			}
		}
	}

	&-text {
		@include min(sm) {
			height: calc(100% - 34rem);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		@include min(md) {
			height: auto;
			padding: 0 2rem;
		}
	}

	&-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		text-transform: capitalize;
		color: #1075bb;
		font-size: 2.8rem;
		min-height: 10.5rem;
		text-decoration: none;
		&:hover{
			color: #1c85ce;
		}
	}

	p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 129.8%;
		margin-bottom: 2rem;

		@include min(sm) {
			margin-bottom: 4rem;
			font-size: 1.8rem;
		}
	}
}

.post-list {
	margin-bottom: 3rem;

	@include min(sm) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.5rem 0;
	}
}
