.single-post{}
.single-podcasts{
	.text-banner{
		text-align: center;
	}
	.text-banner{
		text-align: center;
	}
	.post-title{
		margin: 0 auto;
		max-width: 100%;
	}
	.breadcrumb-wrapper, .section{
		.container{
			max-width: 108rem;
		}
	}
}
.post-list-title {
	margin:12rem 0  6.7rem;
	color: $gray-black;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Montserrat';
	font-size: 7.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 110%; /* 79.2px */
	letter-spacing: -1px;
	@include min(md) {
		font-size: 4.2rem;
	}
}

.post-item {
	border-bottom: 1px solid #1075bb;
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	a{
		text-decoration: none;
	}
	&:last-of-type{
		border-bottom: 0;
	}
	.btn-cta{
		margin: auto 0 0;
		transition: all ease 300ms;
		&:hover{
			opacity: .8;
		}
	}
	width: 100%;
	&.blog-item{
		width: calc(100% - 3.2rem);
		margin: 0 1.6rem 2.4rem;
		background: $color-white;
		border-radius: .8rem;
		padding: 1.6rem;
		border-bottom: 0;
		.post-item-image{
			height: 23.3rem;
			border-radius: .4rem;
			a{}
			img{
				object-fit: cover;
				position: relative;
			}
		}

		.post-item-image{
			border: 0;
		}
		.post-item-title{
			color: $gray-black;
			font-feature-settings: 'clig' off, 'liga' off;
			font-family: 'Montserrat';
			font-size: 1.7rem;
			font-style: normal;
			font-weight: 600;
			line-height: 128%;
			margin-bottom: 1.2rem;
			min-height: auto;
		}
		.post-item-text{
			p{
				color: $gray-700;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Inter';
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 400;
				line-height: 155%;
			}
			height: calc(100% - 19.2rem);
		}
		@include min(sm) {
			margin:0 1.6rem 3.2rem;
			width: calc(50% - 3.2rem);
			.post-item-text{
				height: calc(100% - 26.3rem);
				p{
					margin: 0 auto;
				}
			}
		}
		@include min(md) {
			width: calc(33.3333% - 3.2rem);
			flex-direction: column;
			border-bottom: 0;
			padding: 2.4rem;
			margin: 0 1.6rem 5.6rem;
			.post-item-image{
				height: 22.3rem;
				border-radius: .4rem;
				margin-bottom: 3.2rem;
				a{
					max-width: 100%;
				}
				img{
					object-fit: cover;
				}
			}
			.post-item-text{
				padding: 0;
				height: calc(100% - 22.3rem);
				p{
					font-size: 1.6rem;
					margin: 1rem 0;
				}
			}
			.post-item-title{
				font-size: 1.9rem;
				min-height: auto;
			}
			.post-item-text{
				font-size: 1.5rem;
			}
			.btn-cta{
				padding: 1.6rem 3rem;
			}
			.btn-arrow{
				margin: auto 0 0;
			}
		}
	}
	&.case-item{
		.post-item-image{
			img{
				object-fit: cover;
			}
		}
		@include min(md) {
			.post-item-image{
				width: 44rem;
				height: 29.5rem;
				img{
					object-fit: cover;
				}
			}
			.post-item-text{
				width: calc(100% - 44rem);
			}
		}
	}
	@include min(sm) {
		margin-bottom: 6.7rem;
		padding: 0 1.5rem 5rem;
	}
	@include min(md) {
		padding: 0 1.5rem 10rem;
		display: flex;

	}

	&-image {
		border: 1px solid #1075bb;
		border-radius: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
		height: 20rem;
		overflow: hidden;
		width: 100%;

		&:hover{
			img{
				transform: scale(1.1);
			}
		}
		a{
			width: 100%;
			height: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			transform: scale(1);
			transition: all ease 300ms;
		}
		@include min(sm) {
			margin-bottom: 2rem;
			height: 34rem;
		}
		@include min(md) {
			max-width: 44rem;
			margin-bottom: 0;
			a{
				max-width: 44rem;
			}
		}

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--offset {
			padding: 5rem;

			> img {
				width: auto;
				height: auto;
				object-fit: initial;
				max-width: 100%;
				filter: grayscale(1);
			}
		}
	}

	&-text {
		@include min(sm) {
			height: calc(100% - 34rem);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		@include min(md) {
			height: auto;
			padding: 0 2rem;
		}
	}

	&-title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		text-transform: capitalize;
		color: #1075bb;
		font-size: 2.8rem;
		min-height: 10.5rem;
		text-decoration: none;
		&:hover{
			color: #1c85ce;
		}
	}

	p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 129.8%;
		margin-bottom: 2rem;

		@include min(sm) {
			margin-bottom: 4rem;
			font-size: 1.8rem;
		}
	}
}

.section-items{
	.post-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.6rem 3rem;
	}
}
.post-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 3rem;
}
