.pricing-page {
	padding: 1px 0;

	> .section {
		@include down(sm) {
			margin-top: 3rem;
		}
	}
}

.pc {
	display: flex;
	width: 100%;
	align-items: flex-start;

	&--left {
		width: 25%;
		background: #f2f5f8;
		border: .8rem solid rgba(111, 111, 111, 0.2);
		border-right: none;
		border-radius: 4rem 0 0 4rem;
		padding-left: 3.6rem;
		margin-top: 7.7rem;

		@include down(lg) {
			width: 30%;
		}

		&--item {
			padding-right: 3.6rem;
			padding-left: 3rem;
			font-family: 'Montserrat' , sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 130%;
			text-transform: uppercase;
			display: flex;
			align-items: center;

			@include down(lg) {
				font-size: 1.4rem;
				padding-left: 0;
			}

			&:last-child {
				border-bottom: none;
			}

			&__title {
				font-weight: 700;
				font-size: 3.2rem;
				line-height: 150%;
			}

			&.pc-cell {
				border-color: rgba(16, 117, 187, 0.3);
			}
		}
	}

	&--blue {
		background: linear-gradient(
			180.22deg,
			#ffffff 0.18%,
			#3e90c8 28.72%,
			#1075bb 99.81%
		);
		box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
		border-radius: 4rem;
		color: $color-white;
		padding: 2rem 3.5rem 0;
		z-index: 1;
		position: relative;
		width: 30%;

		@include down(lg) {
			width: 35%;
		}

		.pc-table-head {
			color: #1075bb;
		}

		.pc-cell,
		.pc-table-head {
			border-bottom-color: $color-white;
		}
	}
}

.pp {
	&-features {
		&:before {
			content: '';
		}
	}
}

.pc-cell {
	height: 8.7rem;
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&:last-child {
		border-bottom: 0;
	}

	img {
		@include down(lg) {
			width: 3rem;
		}
	}

	&.p-cell-footer {
		@include down(lg) {
			font-size: 1rem;
		}
	}
}

.pc-table-head {
	height: 15.2rem;
	font-family: 'Montserrat' , sans-serif;
	text-align: center;
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	> img {
		margin-bottom: 1rem;
	}

	&--main {
		font-style: normal;
		font-weight: 900;
		font-size: 2.8rem;
		line-height: 90%;
		letter-spacing: 0.02em;
	}

	&--secondary {
		font-style: normal;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 110%;
		letter-spacing: 0.02em;
	}
}

.pc-other {
	display: flex;
	position: relative;
	padding: 2rem 3.5rem 0 0;
	z-index: 0;
	height: 100%;
	flex: auto 1;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% + 5rem);
		height: 100%;
		background: #f2f5f8;
		border: .8rem solid rgba(111, 111, 111, 0.2);
		border-radius: 0 4rem 4rem 0;
		z-index: -1;
		box-sizing: border-box;
	}

	.pc-table-head {
		border-color: rgba(16, 117, 187, 0.3);

		&--main {
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 132.5%;
			color: rgba(0, 0, 0, 0.7);
		}
	}

	&-item {
		width: 50%;
	}

	.pc-cell {
		border-color: rgba(16, 117, 187, 0.3);
	}
}

.pcf {
	background: radial-gradient(
		263.97% 100.77% at 50% 0.9%,
		#36bee4 0%,
		#1075bb 100%
	);
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.14);
	border-radius: 3rem;
	padding: 3rem;
	color: $color-white;

	&-title {
		font-family: 'Montserrat' , sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 3.2rem;
		line-height: 150%;
		text-align: center;
		margin-bottom: 2rem;
	}

	&-list {
		margin-bottom: 7rem;

		&:last-child {
			margin-bottom: 0;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-family: 'Montserrat' , sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 130%;
			color: $color-white;
			margin-bottom: 2.8rem;

			&-img {
				margin-right: 3rem;
			}
		}
	}

	&-text-list {
		margin-bottom: 10rem;
		text-align: center;

		&-item {
			font-family: 'Montserrat' , sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 150%;
			text-align: center;
			letter-spacing: 0.02em;

			b,
			strong {
				font-family: 'Montserrat' , sans-serif;
				font-style: normal;
				font-weight: 900;
				font-size: 3.6rem;
				line-height: 150%;
				text-align: center;
				letter-spacing: 0.02em;
			}
		}
	}
}

.pcf-after {
	margin-left: 3rem;
	margin-right: 3rem;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3rem;
	padding: 3.5rem 3rem;
	margin-top: -7rem;
	background-color: $color-white;
	margin-bottom: 6rem;

	&-title {
		text-align: center;
		margin-bottom: 2rem;
		font-family: 'Montserrat' , sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 2.2rem;
		line-height: 149%;
		color: rgba(0, 0, 0, 0.7);
	}

	&-list {
		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-family: 'Montserrat' , sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 130%;
			color: rgba(0, 0, 0, 0.8);
			margin-bottom: 2.5rem;

			&:last-child {
				margin-bottom: 0;
			}

			img {
				margin-right: 2rem;
			}
		}
	}
}
