body {
	background-color: $color-light-200;
}
.section {
	margin: 7.3rem 0;
	position: relative;
	z-index: 1;
	&.section-brand{
		@include min(md) {
			margin: 10.5rem 0 9rem;
		}
	}
	&.section-image{
		.container{
			padding: 0;
		}
		@include min(sm) {
			.container{
				padding: 0 2.4rem;
			}
		}
		@include min(lg) {
			margin: 9rem 0 10.4rem;
			.container{
				padding: 0 6.4rem;
			}
		}
		.content-box-image{
			img{
				max-height: 23.7rem;
				width: 100%;
				border-radius: .8rem;
				@include min(sm) {
					max-height: 100%;
					width: 100%;
					border-radius: .8rem;
				}
			}

		}
	}
	&.section-card{
      margin: 7.3rem 0 -.4rem;
      @include min(sm) {
        margin: 10.4rem 0;
      }
		.row{
			margin: 0 -1.6rem;
		}
		.section-header {
			margin-bottom: 4.2rem;
            @include min(sm) {
              margin-bottom: 5.6rem;
            }
			.title-2{
				letter-spacing: -1.98px;
				text-transform: none;
				font-weight: 700;
			}
		}
		.card{
			transition: opacity .4s ease-out,transform .4s ease-out,-webkit-transform .4s ease-out;
			p{
				margin-bottom: 0;
			}
			@include min(md) {
				&:hover{
					background: transparent;
					transform: scale(1.1);
				}
			}
		}
		.btn-block{
          margin: 1.1rem 0 0;
          @include min(sm) {
            margin: 2.4rem 0 0;
          }
			.btn-cta{
				padding: 1.6rem 3.2rem;
			}
		}

	}
	&.section-step{
		.section-header{
			margin-bottom: 4rem;
			@include min(sm) {
				margin-bottom: 4.8rem;
			}
			h2{
				font-weight: 700;
				letter-spacing: -1.6px;
				margin-top: 1.4rem;
				line-height: 140%;
				@include min(sm) {
					letter-spacing: -1.9px;
					margin-top: .1rem;
				}
			}
		}
		.row{
			margin: 0 -1.6rem;
		}
		.card{
			padding: 2.4rem;
			@include min(sm) {
				padding: 3.2rem;
			}
			@include min(md) {
				&:hover{
					background: transparent;
					transform: scale(1.1);
				}
			}
			.title-6{
				font-size: 1.8rem;
				margin: 2.6rem 0 0;
				@include min(sm) {
					font-size: 2.4rem;
				}
			}
			p{
				margin: 1.2rem 0 0 ;
			}
		}
		.btn-block{
			margin: 1.7rem 0 0 ;
			@include min(sm) {
				margin: 5.6rem 0 0 ;
			}
		}
	}
	&.section-info{
		.image-card-box-image{
			padding: 1.8rem 2.4rem 0;
			@include min(md) {
				padding: 1.6rem 0 1.6rem 1.6rem;
			}
		}
		.image-card-box-text--white{
			padding: 5rem 7.2rem 5rem;
			p{
				color: $gray-700;
				font-feature-settings: 'clig' off, 'liga' off;
				font-family: 'Inter';
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 400;
				line-height: 154%;
				margin:0 0 1.1rem;
				@include min(md) {
					font-size: 1.7rem;
					margin:0 0 1.6rem;
				}
				&:last-of-type{
					margin-bottom: 0;
				}
				&.color-blue{
					color: $brand-secondary;
				}
			}
		}
		.text-capitalize{
			letter-spacing: -1px;
		}
	}
	&.section-reviews{
		.section-header{
			max-width: 80%;
			margin: 8.9rem auto 4rem;
			@include min(md) {
				max-width: 100%;
				margin: 0 auto 5.6rem;
			}
		}
	}
	@include min(md) {
		margin: 10.4rem 0;
	}

	&--lg {
		@include min(lg) {
			margin: 24rem 0;
		}
	}

	&--sm {
		@include min(lg) {
			margin: 12.5rem 0;
		}
	}
	&-gray {
		margin: 0;
		padding: 10rem 0;
		background-color: $color-light-gray-100;
		@include min(md) {
			margin: 0;
		}
	}
	&-gray__gradient {
		background-image: linear-gradient(180deg, #e5e5e5 0%, #1075bb33 100%);
		padding: 10rem 0;
		@include min(md) {
			margin: 0;
		}
	}
}
.btn-block{
	.btn-cta{
		padding: 1.6rem 3.2rem;
	}
}
.image-card-box{
  margin: 0 -2.4rem;
  @include min(md) {
    margin: 0 0;
  }
}
.section-bg__gradient {
	position: relative;
	&:after, &:before{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 150%;
		z-index: -1;
	}
	&:before{
		top: -10%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='1440' height='806' viewBox='0 0 1440 806' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Crect width='1440' height='403' fill='url(%23paint0_linear_14226_2373)' fill-opacity='0.45'/%3E%3Crect width='1440' height='403' transform='matrix(1 0 0 -1 0 806)' fill='url(%23paint1_linear_14226_2373)' fill-opacity='0.45'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14226_2373' x1='339.948' y1='348.967' x2='371.747' y2='10.6051' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23194EEE'/%3E%3Cstop offset='0.713542' stop-color='%23FAFAFA' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_14226_2373' x1='339.948' y1='348.967' x2='371.747' y2='10.6051' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23194EEE'/%3E%3Cstop offset='0.713542' stop-color='%23FAFAFA' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		//background-image: linear-gradient(-180deg, rgba(25, 78, 238, 1), rgba(250, 250, 250, 0));
	}
	//&:after{
	//	top: 50%;
	//	background-image: linear-gradient(0deg, rgba(25, 78, 238, 1), rgba(250, 250, 250, 0));
	//}
}
.btn-block{
	margin: 4rem 0 0;
	text-align: center;
	@include min(md) {
		margin: 5.4rem 0 0;
	}
}
.section-header {
	text-align: center;
	margin-bottom: 4rem;

	@include min(md) {
		margin-bottom: 3.6rem;
		font-size: 3.6rem;
		font-style: normal;
		font-weight: 700;
		line-height: 128%; /* 46.08px */
		letter-spacing: -1.87px;
		color: $gray-black;
	}
	h1,
	h2,
	h3 {
		text-transform: capitalize;
		// margin-bottom: 80px;

	}
	h2{
		font-weight: 700;
		letter-spacing: -1.9px;
		margin-top: 1px;
	}
	.title-4{
		color: $brand-secondary;
		margin-bottom: 1.2rem;
		text-transform: none;
		position: relative;
		left: 0;
		letter-spacing: 0;
	}
	.title-2{
		margin: 0;
	}
	&-title {
		// font-weight: 500;
		// font-size: 24px;
		// font-family: 'Montserrat';

		// @include min(md) {
		// 	font-size: 40px;
		// 	line-height: 45px;
		// }

		&.__sm {
			@include min(md) {
				font-size: 3.5rem;
			}
		}
	}

	// h2,
	// h3 + .btn-cta {
	// 	margin-top: 60px;
	// }

	&-subtitle {
		// font-weight: 500;
		// font-size: 18px;
		// line-height: 129.8%;
		// margin-bottom: 20px;
		&__blue {
			// margin-top: 20px;
			// font-weight: 500;
			// font-size: 28px;
			// line-height: 129.8%;
			// margin-bottom: 20px;
			color: $color-blue;
		}
	}

	p {
		font-weight: 300;
		margin-bottom: 3rem;
	}
}

ul.checkmark-list {
	font-size: 1.6rem;
	font-weight: 600;
	margin: 2.5rem 0;
	text-align: center;
	@include min(sm) {
		font-size: 2.4rem;
	}
	@include min(xs) {
		text-align: left;
	}
	li {
		margin: .7rem 0px;
		font-weight: 500;
		padding-left: 0;

		@include min(sm) {
			padding-left: 3.3rem;
			position: relative;
		}

		&:before {
			content: url('../img/checkmark.svg');
			height: 2rem;
			width: 2rem;
			margin-right: 1rem;
			background-color: transparent;
			position: static;

			@include min(sm) {
				left: 0;
				top: 0;
				position: absolute;
			}
		}
	}

	&.color-blue {
		li {
			&:before {
				top: .4rem;
				background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5C4.86 1.5 1.5 4.86 1.5 9C1.5 13.14 4.86 16.5 9 16.5C13.14 16.5 16.5 13.14 16.5 9C16.5 4.86 13.14 1.5 9 1.5ZM6.9675 12.2175L4.275 9.525C3.9825 9.2325 3.9825 8.76 4.275 8.4675C4.5675 8.175 5.04 8.175 5.3325 8.4675L7.5 10.6275L12.66 5.4675C12.9525 5.175 13.425 5.175 13.7175 5.4675C14.01 5.76 14.01 6.2325 13.7175 6.525L8.025 12.2175C7.74 12.51 7.26 12.51 6.9675 12.2175Z' fill='url(%23paint0_linear_14359_1392)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_14359_1392' x1='8' y1='1.5' x2='13.6552' y2='7.34614' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23002698'/%3E%3Cstop offset='1' stop-color='%233263F8'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				content: '';
			}
		}
	}
}
.section-info{
	.image-card-box{
		.image-card-box-image{
			img, picture{
				margin: 0 auto;
				height: 27.2rem;
				display: block;
				@include min(sm) {
					height: auto;
				}
			}
			.text-capitalize{
				display: block;
				color: $gray-black;
				font-weight: 700;
				letter-spacing: -1.7px;
				margin-bottom: 2.4rem;
				@include min(md) {
					display: none;
				}
			}
		}
		.image-card-box-text{
			padding: 2.4rem;
			@include min(md) {
				padding: 5rem 7.2rem;
			}
			.text-capitalize{
				display: none;
				@include min(md) {
					display: block;
				}
			}
		}
	}
}
.section-brand{
	z-index: 2;
	.section-header{
		font-size: 2.4rem;
		margin: 0 -1.4rem 2.5rem -1.4rem;
		letter-spacing: -1.2px;
		line-height: 140%;
		@include min(sm) {
			font-size: 2.6rem;
			margin: 0 0 4rem;
		}
		@include min(md) {
			font-size: 3.6rem;
			font-weight: 700;
			letter-spacing: -1.87px;
			line-height: 128%;
			margin-bottom: 3.6rem;
		}
	}
}
.section-info-cart{
	.box-white{
		margin: 0 -2.4rem;
		@include min(sm) {
			margin: 0 0;
		}
	}
	.content-box-image {
		padding: 3.7rem 2.4rem 0;
		@include min(sm) {
			padding: 4rem 2.4rem 0;
		}
		@include min(md) {
			padding: 1.6rem 1.6rem;
		}
		picture, img{
			min-height: 22.3rem;
			display: block;
		}
		h4{
			margin: 0 0 3.2rem;
			@include min(sm) {
				margin: 2rem 0 ;
			}
		}
	}
	.content-box{
		display: flex;
		flex-direction: column-reverse;
		.content-box-text{
			padding: 3.4rem 2.4rem 3.6rem;
			h4{
				display: none;
			}
			h3{
				line-height: 141%;
			}
			@include min(sm) {
				padding: 2.4rem 2.4rem 3.6rem;
			}
			@include min(md) {
				padding: 6rem 7.2rem 5.4rem;
			}
		}
		@include min(sm) {
			flex-direction: row;
			.content-box-text{
				h4{
					display: block;
				}
			}
		}
	}
}