h1,
.title-1 {
	font-weight: 600;
	font-size: 30px;
	margin: 0;
	line-height: 1.3em;
	@include min(sm) {
		font-size: 40px;
	}
	@include min(lg) {
		font-size: 50px;
	}
}

h2,
h3,
.title-3,
.title-2 {
	margin: 20px 0;
	font-weight: 500;
}

h2,
.title-2 {
	font-size: 28px;
	line-height: 1.25em;
	@include min(sm) {
		font-size: 30px;
	}
	@include min(lg) {
		font-size: 40px;
	}
}

h3,
.title-3 {
	font-size: 26px;
	line-height: 1.3em;
	@include min(sm) {
		font-size: 28px;
	}
	@include min(lg) {
		font-size: 30px;
	}
}

h4,
.title-4 {
	margin: 20px 0;
	font-size: 20px;
	line-height: 1.3em;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
h5,
.title-5 {
	margin: 0;
	font-size: 18px;
	line-height: 1.25em;
	font-weight: 500;
}
h6,
.title-6 {
	margin: 0;
	font-size: 16px;
	line-height: 1.25em;
	font-weight: 500;
}

ul li,
p {
	font-size: 16px;
	margin-bottom: 10px;
	font-family: 'Montserrat';
	line-height: 1.7em;
	@include min(md) {
		font-size: 18px;
	}
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-small {
	font-size: 16px;
}

p {
	margin: 20px 0;
	line-height: 1.7em;
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-left {
			text-align: left;
		}
	}
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-center {
			text-align: center;
		}
	}
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-right {
			text-align: right;
		}
	}
}

.text-capitalize {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-wide {
	letter-spacing: 1px;
}

.text-light {
	font-weight: 300;
}

.color-lighter {
	color: rgba($color-black, 0.7);
	transition: all ease 300ms;
	&:hover {
		box-shadow: 0 4px 14px rgba(42, 42, 42, 0.1);
	}
}

.color-darker {
	color: rgba($color-black, 0.8);
}

ul.list {
	li {
		// line-height: 1.7;
		// font-size: 20px;
		position: relative;
		font-weight: 300;
		padding-left: 30px;

		&:before {
			content: '';
			@include circle(6px);
			background-color: $color-white;
			position: absolute;
			left: 10px;
			top: 14px;
		}
	}
}

.color-blue {
	color: $color-blue;
}

.large-text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 1;

	@include min(md) {
		font-size: 96px;
	}
}

.counter-value {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 45px;
}

.counter-circle {
	margin-bottom: 30px;
}
