@font-face {
  font-family: 'Inter';
  src: local('Inter LightBETA'), local('Inter-LightBETA'),
  url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter Medium'), local('Inter-Medium'),
  url('../fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Thin'),
  url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat LightItalic'), local('Montserrat-LightItalic'),
  url('../fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;

	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat MediumItalic'), local('Montserrat-MediumItalic'),
  url('../fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat SemiBoldItalic'), local('Montserrat-SemiBoldItalic'),
  url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: 'Montserrat' ,sans-serif;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
	font-display: swap;
}
h1,
.title-1 {
	font-weight: 600;
	font-size: 3rem;
	margin: 0;
	line-height: 1.3em;
	@include min(sm) {
		font-size: 4rem;
	}
	@include min(lg) {
		font-size: 5rem;
	}
}

h2,
h3,
.title-3,
.title-2 {
	margin: 2rem 0;
	font-weight: 500;
}

h2,
.title-2 {
	font-size: 2.8rem;
	line-height: 1.25em;
	@include min(sm) {
		font-size: 3rem;
	}
	@include min(lg) {
		font-size: 4rem;
	}
}

h3,
.title-3 {
	font-size: 2.6rem;
	line-height: 1.3em;
	@include min(sm) {
		font-size: 2.8rem;
	}
	@include min(lg) {
		font-size: 3rem;
	}
}

h4,
.title-4 {
	margin: 2rem 0;
	font-size: 1.8rem;
	line-height: 1.3em;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
h5,
.title-5 {
	margin: 0;
	font-size: 1.8rem;
	line-height: 1.25em;
	font-weight: 500;
}
h6,
.title-6 {
	margin: 0;
	font-size: 1.6rem;
	line-height: 1.25em;
	font-weight: 500;
}

ul li,
p {
	font-size: 1.6rem;
	margin-bottom: 1rem;
	font-family: 'Montserrat' ,sans-serif;
	line-height: 1.7em;
	@include min(md) {
		font-size: 1.8rem;
	}
}
ol {
	li {
		font-size: 1.6rem;
		margin-bottom: 1rem;
		font-family: 'Montserrat' ,sans-serif;
		line-height: 1.7em;
		@include min(md) {
			font-size: 1.8rem;
		}
	}
}
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-small {
	font-size: 1.6rem;
}

p {
	margin: 2rem 0;
	line-height: 1.7em;
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-left {
			text-align: left;
		}
	}
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-center {
			text-align: center;
		}
	}
}

@each $name, $breakpoint in $breakpoints {
	@include min($name) {
		.text-#{$name}-right {
			text-align: right;
		}
	}
}

.text-capitalize {
	text-transform: capitalize;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-wide {
	letter-spacing: 1px;
}

.text-light {
	font-weight: 300;
}

.color-lighter {
	color: rgba($color-black, 0.7);
	transition: all ease 300ms;
	&:hover {
		box-shadow: 0 4px 14px rgba(42, 42, 42, 0.1);
	}
}

.color-darker {
	color: rgba($color-black, 0.8);
}

ul.list {
	li {
		// line-height: 1.7;
		// font-size: 18px;
		position: relative;
		font-weight: 300;
		padding-left: 3rem;

		&:before {
			content: '';
			@include circle(6px);
			background-color: $color-white;
			position: absolute;
			left: 1rem;
			top: 1.4rem;
		}
	}
}

.color-blue {
	color: $color-blue;
}

.large-text {
	font-family: 'Inter'  ,sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 6rem;
	line-height: 1;

	@include min(md) {
		font-size: 9.6rem;
	}
}

.counter-value {
	font-family: 'Montserrat' ,sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 6.4rem;
	line-height: 4.5rem;
}

.counter-circle {
	margin-bottom: 3rem;
}
