$color-white: #fff;
$color-light-gray: #f2f2f2;
$color-light-gray-100: #e5e5e5;
$color-light-200: #fafafa;
$color-black: #2a2a2a;
$color-blue: #1075bb;
$color-light-blue: #36bee4;
$gray-black: #011C2F;

$t-time: 0.3s;

$heading-font-sizes: (
	h1: 133,
	h2: 64,
	h3: 48,
	h4: 24,
);

$breakpoints: (
	xs: 640,
	sm: 768,
	md: 991,
	lg: 1200,
);

$header_height: 157px;
