$color-white: #fff;
$color-light-gray: #F2F2F2;
$color-light-gray-100: #E5E5E5;
$color-light-200: #FAFAFA;
$color-black: #2a2a2a;
$color-blue: #1075BB;
$color-light-blue: #36BEE4;

$t-time: 0.3s;

$heading-font-sizes: (
    h1: 133,
    h2: 64,
    h3: 48,
    h4: 24,
);

$breakpoints: (
    xs: 640,
    sm: 768,
    md: 991,
    lg: 1200,
);

$header_height: 157px;