<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Blog - Meetaverse™</title>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
		<link rel="manifest" href="site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preload" href="fonts/Inter/Inter-LightBETA.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin="">
	</head>

	<body>
		@@include('./parts/header.html')
			<div class="section section-items">
			<div class="container">
				<div class="post-list-title"><h1>Blog</h1></div>
				<div class="post-list">
					<div class="post-item blog-item">
						<div class="post-item-image">
							<a href="#">
								<img src="img/image-34.jpg" alt="" />
							</a>
						</div>
						<div class="post-item-text">
							<a href="#" class="post-item-title">
								Evolution Of Metaverse For Business: Opportunities & Benefits With Meetaverse
							</a>
							<p>
								The onset of the metaverse is valuable because it gives us context for what’s next.
							</p>
							<a class="btn-arrow" href="#">read more</a>
						</div>
					</div>
					<div class="post-item blog-item">
						<div class="post-item-image">
							<a href="#"><img src="img/image-35.jpg" alt="" /></a>
						</div>
						<div class="post-item-text">
							<a href="#" class="post-item-title">
								14 Immersive Marketing Trends 2023 | Immersive Metaverse
							</a>
							<p>
								Metaverse platforms are taking immersive branding strategies to the next level – read
							</p>
							<a class="btn-arrow" href="#">read more</a>
						</div>
					</div>
					<div class="post-item blog-item">
						<div class="post-item-image">
							<a href="#"><img src="img/image-36.jpg" alt="" /></a>
						</div>
						<div class="post-item-text">
							<a href="#" class="post-item-title">
								Metaverse Meetings Guide 2023: Embracing The Future Of Business In Virtual Offices
							</a>
							<p>
								The metaverse is transforming the way we work and interact.
							</p>
							<a class="btn-arrow" href="#">read more</a>
						</div>
					</div>
					<div class="post-item blog-item">
						<div class="post-item-image">
							<a href="#">
								<img src="img/image-37.jpg" alt="" />
							</a>
						</div>
						<div class="post-item-text">
							<a href="#" class="post-item-title">
								How To Host A Virtual Event In The Metaverse: Definitive Guide [2023]
							</a>
							<p>
								The metaverse may not be as ubiquitous as it was during the height of the pandemic, but i
							</p>
							<a class="btn-arrow" href="#">read more</a>
						</div>
					</div>
				</div>
				<div class="btn-block">
					<a href="#" class="btn-cta">
						<span>Load more</span>
					</a>
				</div>
			</div>
		</div>

		@@include('./parts/footer.html')

		<script src="js/lib.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
