<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Meetaverse™</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    @@include('./parts/header.html')

    <div class="section">
        <div class="container">
            <div class="post-list-title">Blog</div>
            <div class="post-list">
                <div class="post-item">
                    <div class="post-item-image">
                        <img src="img/image-34.jpg" alt="">
                    </div>
                    <div class="post-item-text">
                        <div class="post-item-title">SEPHORA HOSTS PRESS DAY IN CUSTOMIZED METAVERSE</div>
                        <p>Even before the pandemic began, virtual events and meetings were on the rise. But the last
                            year has brought them to an entirely new level.</p>
                        <a class="btn-cta" href="#">read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item-image">
                        <img src="img/image-35.jpg" alt="">
                    </div>
                    <div class="post-item-text">
                        <div class="post-item-title">10 REASONS TO LOVE ALLSEATED'S VIRTUAL EVENT PLATFORM, EXVO</div>
                        <p>While virtual events and conferences will never replace the live event experience, there are
                            many benefits to hosting virtual and hybrid events. </p>
                        <a class="btn-cta" href="#">read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item-image">
                        <img src="img/image-36.jpg" alt="">
                    </div>
                    <div class="post-item-text">
                        <div class="post-item-title">ALLSEATED'S VIRTUAL EVENT PLATFORM, EXVO</div>
                        <p>Are you in the real world or the virtual? Allseated's latest innovation,
                            exVo, is a virtual event platform that creates parallel worlds.</p>
                        <a class="btn-cta" href="#">read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-item-image">
                        <img src="img/image-37.jpg" alt="">
                    </div>
                    <div class="post-item-text">
                        <div class="post-item-title">ALLSEATED EXVO: VIRTUAL CONFERENCE PLATFORM</div>
                        <p>During the COVID-19 Pandemic, event professionals experimented with different tools as
                            virtual conference platforms and simple virtual meeting platforms to try planning and
                            implementing remote...</p>
                        <a class="btn-cta" href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="text-left text-sm-center">
                <button class="btn-outline btn-outline-blue">load more</button>
            </div>
        </div>
    </div>

    @@include('./parts/footer.html')

    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
</body>

</html>