<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Studies - Meetaverse™</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    @@include('./parts/header.html')

    <div class="text-banner">
        <div class="text-banner-background text-banner-background--blue">
            <img src="img/image-27.jpg" alt="">
        </div>
        <div class="text-banner-entry">
            <div class="container">
                <div class="text-banner-entry--limiter-lg">
                    <h1>SEPHORA HOSTS PRESS DAY IN CUSTOMIZED METAVERSE</h1>
                    <p>Sephora, a multinational beauty products company, showcased new products and brands for
                        media, influencers, press, and makeup artists in a 10-day metaverse experience.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-gray">
        <div class="container container-xs">
            <blockquote class="quote-section quote-section--sm">
                <p>The process was really dynamic. The team was very responsive, especially once we got into the nitty
                    gritty of the planning and execution. The team did a phenomenal job communicating, creating and
                    designing based upon feedback, and executed in the time given. From beginning to end, the experience
                    was extremely positive. I would highly recommend Allseated and this experience for anyone wanting to
                    push the envelope in the metaverse.</p>
                <div class="quote-section-person">Rand Rogers, Director,</div>
                <div class="quote-section-company-name">The PR People (representing Sephora).</div>
            </blockquote>
        </div>
    </div>
    <div class="section section-gray">
        <div class="container">
            <div class="section-header">
                <div class="section-header-title">Challenges and Solutions</div>
                <div class="section-header-subtitle__blue">Scroll Over Cards To See Solutions</div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card card-hover text-left">
                        <div class="card-hover-top">
                            <div class="card-subtitle text-capitalize text-left">Challenge 1</div>
                            <div class="card-text text-uppercase color-blue">Move beyond the limitations of basic
                                video communication</div>
                        </div>
                        <div class="card-hover-back">
                            <div class="card-hover-back-image"><img src="img/image-28.jpg" alt=""></div>
                            <div class="card-subtitle text-capitalize text-left">Solution 1</div>
                            <p class="text-small">Worked closely with Sephora to quickly provide a dynamic, interactive
                                platform that
                                met the brand's needs for an immersive digital experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-hover text-left">
                        <div class="card-hover-top">
                            <div class="card-subtitle text-capitalize text-left">Challenge 2</div>
                            <div class="card-text text-uppercase color-blue">Create a real-life experience in a
                                digital space</div>
                        </div>
                        <div class="card-hover-back">
                            <div class="card-hover-back-image"><img src="img/image-29.jpg" alt=""></div>
                            <div class="card-subtitle text-capitalize text-left">Solution 2</div>
                            <p class="text-small">Helped Sephora design a space from scratch based on inspiration from
                                Sephora's
                                previous events. Features included daily live sessions with founders along with
                                interactive booths providing informational and promotional content via video, links
                                to external websites, photo booths, downloadable vouchers from partners, and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card card-hover text-left">
                        <div class="card-hover-top">
                            <div class="card-subtitle text-capitalize text-left">Challenge 3</div>
                            <div class="card-text text-uppercase color-blue">Overcome the challenges of a short
                                turnaround time for development</div>
                        </div>
                        <div class="card-hover-back">
                            <div class="card-hover-back-image"><img src="img/image-30.jpg" alt=""></div>
                            <div class="card-subtitle text-capitalize text-left">Solution 3</div>
                            <p class="text-small">Helped Sephora create the aesthetics of the space and provided the
                                technology to
                                allow guests to enter the space and enjoy a memorable experience. Through every step
                                of the process, the team helped Sephora turn ideas into reality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray">
        <div class="container">
            <div class="cover-slider-container">
                <div class="cover-slider-controls">
                    <button>
                        <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.4777 1.39344L0.93177 10.9394C0.345985 11.5252 0.345985 12.4749 0.93177 13.0607L10.4777 22.6066C11.0635 23.1924 12.0132 23.1924 12.599 22.6066C13.1848 22.0209 13.1848 21.0711 12.599 20.4853L5.61375 13.5L35.1169 13.5V10.5L5.61375 10.5L12.599 3.51476C13.1848 2.92898 13.1848 1.97923 12.599 1.39344C12.0132 0.807655 11.0635 0.807655 10.4777 1.39344Z"
                                fill="white" />
                        </svg>
                    </button>
                    <button>
                        <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M25.6316 1.39344L35.1776 10.9394C35.7634 11.5252 35.7634 12.4749 35.1776 13.0607L25.6316 22.6066C25.0458 23.1924 24.0961 23.1924 23.5103 22.6066C22.9245 22.0209 22.9245 21.0711 23.5103 20.4853L30.4956 13.5H0.992416V10.5H30.4956L23.5103 3.51476C22.9245 2.92898 22.9245 1.97923 23.5103 1.39344C24.0961 0.807655 25.0458 0.807655 25.6316 1.39344Z"
                                fill="white" />
                        </svg>
                    </button>
                </div>
                <div class="cover-slider">
                    <div>
                        <div class="cover-slider-item">
                            <img src="img/image-31.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="cover-slider-item">
                            <img src="img/image-31.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="cover-slider-item">
                            <img src="img/image-31.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="cover-slider-item">
                            <img src="img/image-31.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray__gradient">
        <div class="container container-md">
            <div class="section-header">
                <div class="section-header-title">Other Meetaverse Success Stories</div>
            </div>

            <div class="row row-lg-gutter">
                <div class="col-sm-6">
                    <div class="card card--no-padding text-center">
                        <div class="card-image">
                            <img src="img/image-32.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p class="text-wide">Title</p>
                            <p>Real interactions and immersive experiences keep your team engaged at work — from
                                anywhere.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card--no-padding text-center">
                        <div class="card-image">
                            <img src="img/image-33.jpg" alt="">
                        </div>
                        <div class="card-body">
                            <p class="text-wide">Title</p>
                            <p>Real interactions and immersive experiences keep your team engaged at work — from
                                anywhere.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="__top-offset-md text-center">
                <button class="btn-outline btn-outline-blue">Load More</button>
            </div>
        </div>
    </div>

    <div class="light-gradient"></div>
    @@include('./parts/footer.html')

    <script src="js/lib.js"></script>
    <script src="js/main.js"></script>
</body>

</html>