<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Company - Meetaverse™</title>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
		<link rel="manifest" href="site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preload" href="fonts/Inter/Inter-LightBETA.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin="">
	</head>

	<body>
		@@include('./parts/header.html')

		<div class="text-banner">
			<div class="text-banner-background">
				<img src="img/image-12.jpg" alt="" />
			</div>
			<div class="text-banner-entry">
				<div class="container">
					<div class="text-banner-entry--limiter-lg">
						<div class="text-banner-entry--body">
							<h1>Your guide into the metaverse</h1>
							<p>
								As the leader in digital experiences, Meetaverse is your guide
								into the metaverse. With Meetaverse™, it’s easy to create your
								own corporate metaverse and deliver immersive experiences that
								empower connectivity, accelerate sales, and drive growth like
								never before.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<h3 class="section-header">
					POWERING DIGITAL EXPERIENCES FOR LEADING BRANDS
				</h3>
				<div class="image-row image-row--small">
					<div><img src="img/company-logo-1.png" alt="" /></div>
					<div><img src="img/company-logo-2.png" alt="" /></div>
					<div><img src="img/company-logo-3.png" alt="" /></div>
					<div><img src="img/company-logo-4.png" alt="" /></div>
					<div><img src="img/company-logo-5.png" alt="" /></div>
					<div><img src="img/company-logo-6.png" alt="" /></div>
					<div><img src="img/company-logo-7.png" alt="" /></div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card text-center card-blue-transparent">
							<div class="counter-circle">
								<img src="img/image-13.png" alt="" />
							</div>
							<div class="counter-value">54K</div>
							<p class="card-text">DIGITAL VENUES</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center card-blue-transparent">
							<div class="counter-circle">
								<img src="img/image-13.png" alt="" />
							</div>
							<div class="counter-value">3K</div>
							<p class="card-text">CURRENT CLIENTS</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card text-center card-blue-transparent">
							<div class="counter-circle">
								<img src="img/image-13.png" alt="" />
							</div>
							<div class="counter-value">1.5M</div>
							<p class="card-text">DIGITAL EXPERIENCES</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="image-card-box">
					<div class="image-card-box-image">
						<img src="img/banner-04.jpg" alt="" />
					</div>
					<div class="image-card-box-text">
						<h2 class="text-capitalize">
							Leading the next evolution of corporate communication
						</h2>
						<p>
							Many business leaders want to lead their organization into the
							metaverse but don't know where to start. It's a daunting task to
							enter the metaverse, especially when you're responsible for making
							it happen.
						</p>
						<p>
							But we believe the metaverse should empower your organization to
							do great things, and we knew we could help. So, we launched
							Meetaverse™, a platform to easily create your own corporate
							metaverse and get your team working together inside your digital
							experience right away.
						</p>
						<p>
							It's time for the next evolution of corporate communication. Lead
							your team into Meetaverse™ and create your corporate metaverse
							now. To get started today:
						</p>
						<a class="btn-outline btn-outline-white" href="#"
							>schedule a Demo</a
						>
					</div>
				</div>
			</div>
		</div>

		@@include('./parts/footer.html')

		<script src="js/lib.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
