<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Podcasts - Meetaverse™</title>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
		<link rel="manifest" href="site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preload" href="fonts/Inter/Inter-LightBETA.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Inter/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" type="font/woff2" crossorigin="">
		<link rel="preload" href="fonts/Montserrat/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin="">
	</head>

	<body>
		@@include('./parts/header.html')

		<div class="text-banner text-banner-min">
			<div class="text-banner-background __no_gradient">
				<img src="img/image-15.jpg" alt="" />
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="section-header">
					<div class="section-header-title text-uppercase">PODCAST</div>
				</div>
				<div class="section-header">
					<div class="section-header-title __sm text-uppercase">
						Allseated eXchange: The Future of Events with Nick Borelli
					</div>
					<p>
						Learn what's next for event design with event industry change
						agents. This season focuses on helping event planners prepare for
						hybrid events.
					</p>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row podcasts-list">
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-16.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-17.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-18.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-19.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-20.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-21.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-22.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
					<div class="col-xs-6 col-lg-4">
						<div class="podcast">
							<div class="podcast-image">
								<img
									src="img/image-23.jpg"
									alt="Will Curran | Be Proactive About Change as the Events Industry
                            Evolves" />
							</div>
							<a class="podcast-title" href="#"
								>Will Curran | Be Proactive About Change as the Events Industry
								Evolves</a
							>
							<div class="podcast-text">
								Welcome to Allseated Exchange. Learn what's next for event
								design with event industry change agents. This season focuses on
								helping event professionals prepare for hybrid events. In this
								podcast summary, we're
							</div>
							<a href="#" class="podcast-link">READ MORE »</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="section-header">
					<div class="section-header-title __sm text-uppercase">
						LISTEN TO PAST EPISODES
					</div>
				</div>
				<iframe
					class="lazy-loaded"
					style="width: 100%; height: 530px; border: 0 none"
					data-lazy-type="iframe"
					data-src="https://www.art19.com/shows/exchange-by-allseated/embed?playlist_type=playlist&amp;theme=light-blue"
					scrolling="no"
					src="https://www.art19.com/shows/exchange-by-allseated/embed?playlist_type=playlist&amp;theme=light-blue"></iframe>
			</div>
		</div>

		@@include('./parts/footer.html')

		<script src="js/lib.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
