<header class="page-header">
	<div class="container">
		<div class="page-header-container">
			<div class="page-header-left">
				<a href="#" class="logo">
					<img src="img/logo.svg" alt="" />
				</a>
			</div>
			<div class="page-header-menu">
				<div id="mainMenu" class="main-menu">
					<ul>
						<li class="menu-item-has-children">
							<a href="solutions.html">Solutions</a>
							<ul class="sub-menu">
								<li><a href="solutions.html">Digital Workplace</a></li>
								<li><a href="solutions.html">Sales Acceleration</a></li>
								<li><a href="solutions.html">Brand Experiences</a></li>
							</ul>
						</li>
						<li><a href="company.html">Company</a></li>
						<li class="menu-item-has-children">
							<a href="solutions.html">Resources</a>
							<ul class="sub-menu">
								<li><a href="blog.html">Blog</a></li>
								<li><a href="blog.html">Press</a></li>
								<li><a href="podcasts.html">Podcasts</a></li>
								<li><a href="#">Case studies</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<button id="toggleMenu" class="d-block d-md-none toggle-menu">
					<i></i><i></i><i></i>
				</button>
			</div>
			<div class="page-header-right d-none d-md-block">
				<a href="#" class="btn-cta">
					Schedule a Demo
				</a>
			</div>
		</div>
	</div>
</header>
